# Pharmaceutical and Non-pharmaceutical interventions

April 13

In [42]:
import pandas as pd
import seaborn as sns
import matplotlib as plt

In [43]:
#Read train 
deaths = pd.read_csv('data/deaths.csv')
cases = pd.read_csv('data/cases.csv')
deaths.drop(['Province/State'], axis=True)
deaths.shape

(274, 84)

In [44]:
df = pd.read_csv('Global_variable_per_country.csv')

### Test

https://www.kaggle.com/skylord/covid19-tests-conducted-by-country

In [45]:
test = pd.read_csv('variable/Intervention/test/Tests_conducted_09April2020.csv')

In [46]:
test['As of'].unique()

array(['8 Apr', '7 Apr', '1 Apr', '9 Apr', '19 Mar', '2 Apr', '5 Apr',
       '6 Apr', nan, '20 Feb', '31 Mar', '25 Mar', '27 Mar', '4 Apr',
       '21 Mar', '3 Apr', '24 Mar'], dtype=object)

In [47]:
len(test['Country or region'].unique())

126

In [48]:
test.drop(['Ref.', 'Source_1','Source_2'], axis=1, inplace=True)

In [49]:
df = df.merge(test, how='left', left_on='Territory', right_on='Country or region')
df.drop(['Country or region'], axis=1, inplace=True)

df[df.Tests.isnull()]

247 counties without info relative to test !

Maybe find better data.

### Lockdown

https://www.kaggle.com/jcyzag/covid19-lockdown-dates-by-country

In [ ]:
lock = pd.read_csv('variable/Intervention/lockdown/countryLockdowndates.csv')
lock.drop(['Province', 'Reference'], axis=1, inplace=True)
lock.rename(columns={'Date':'lockdown_date',
                        'Type':'Type_lockdown'}, inplace=True)
df = df.merge(lock, how='left', left_on='Territory', right_on='Country/Region')

In [52]:
df.drop(['Country/Region_y'], axis=1, inplace=True)
df

,Province/State,Country/Region_x,Territory,Population,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,...,Specialist_surgical_per_1000_2008-18,Completeness_of_birth_reg_2009-18,Completeness_of_death_reg_2008-16,Tests,Positive,As of,Tests/ million,Positive/ thousands,lockdown_date,Type_lockdown
0,NaN,Afghanistan,Afghanistan,26023100.0,33.00000,65.000000,0,0,0,0,...,0.0,42.3,NaN,NaN,NaN,NaN,NaN,NaN,24/03/2020,Full
1,NaN,Albania,Albania,2895947.0,41.15330,20.168300,0,0,0,0,...,11.6,98.4,53.0,2989.0,400.0,8 Apr,1044.0,13.4,08/03/2020,Full
2,NaN,Algeria,Algeria,38700000.0,28.03390,1.659600,0,0,0,0,...,12.1,100.0,NaN,NaN,NaN,NaN,NaN,NaN,24/03/2020,Full
3,NaN,Andorra,Andorra,76965.0,42.50630,1.521800,0,0,0,0,...,83.1,100.0,80.0,NaN,NaN,NaN,NaN,NaN,16/03/2020,Full
4,NaN,Angola,Angola,24383301.0,-11.20270,17.873900,0,0,0,0,...,NaN,25.0,NaN,NaN,NaN,NaN,NaN,NaN,24/03/2020,Full
5,NaN,Antigua and Barbuda,Antigua and Barbuda,86295.0,17.06080,-61.796400,0,0,0,0,...,14.0,NaN,79.0,NaN,NaN,NaN,NaN,NaN,NaN,None
6,NaN,Argentina,Argentina,42669500.0,-38.41610,-63.616700,0,0,0,0,...,50.1,100.0,100.0,10793.0,1628.0,7 Apr,239.0,15.1,20/03/2020,Full
7,NaN,Armenia,Armenia,3009800.0,40.06910,45.038200,0,0,0,0,...,86.7,99.3,76.0,4666.0,822.0,7 Apr,1741.0,16.6,24/03/2020,Full
8,Australian Capital Territory,Australia,Australia,23696900.0,-35.47350,149.012400,0,0,0,0,...,45.1,100.0,100.0,319784.0,6024.0,8 Apr,12590.0,1.9,NaN,None
9,Australian Capital Territory,Australia,Australia,23696900.0,-35.47350,149.012400,0,0,0,0,...,45.1,100.0,100.0,319784.0,6024.0,8 Apr,12590.0,1.9,NaN,None
10,Australian Capital Territory,Australia,Australia,23696900.0,-35.47350,149.012400,0,0,0,0,...,45.1,100.0,100.0,319784.0,6024.0,8 Apr,12590.0,1.9,NaN,None
11,Australian Capital Territory,Australia,Australia,23696900.0,-35.47350,149.012400,0,0,0,0,...,45.1,100.0,100.0,319784.0,6024.0,8 Apr,12590.0,1.9,NaN,None
12,Australian Capital Territory,Australia,Australia,23696900.0,-35.47350,149.012400,0,0,0,0,...,45.1,100.0,100.0,319784.0,6024.0,8 Apr,12590.0,1.9,NaN,None
13,Australian Capital Territory,Australia,Australia,23696900.0,-35.47350,149.012400,0,0,0,0,...,45.1,100.0,100.0,319784.0,6024.0,8 Apr,12590.0,1.9,NaN,None
14,Australian Capital Territory,Australia,Australia,23696900.0,-35.47350,149.012400,0,0,0,0,...,45.1,100.0,100.0,319784.0,6024.0,8 Apr,12590.0,1.9,24/03/2020,Full
15,Australian Capital Territory,Australia,Australia,23696900.0,-35.47350,149.012400,0,0,0,0,...,45.1,100.0,100.0,319784.0,6024.0,8 Apr,12590.0,1.9,NaN,None
16,New South Wales,Australia,Australia,23696900.0,-33.86880,151.209300,0,0,0,0,...,45.1,100.0,100.0,319784.0,6024.0,8 Apr,12590.0,1.9,NaN,None
17,New South Wales,Australia,Australia,23696900.0,-33.86880,151.209300,0,0,0,0,...,45.1,100.0,100.0,319784.0,6024.0,8 Apr,12590.0,1.9,NaN,None
18,New South Wales,Australia,Australia,23696900.0,-33.86880,151.209300,0,0,0,0,...,45.1,100.0,100.0,319784.0,6024.0,8 Apr,12590.0,1.9,NaN,None
19,New South Wales,Australia,Australia,23696900.0,-33.86880,151.209300,0,0,0,0,...,45.1,100.0,100.0,319784.0,6024.0,8 Apr,12590.0,1.9,NaN,None
20,New South Wales,Australia,Australia,23696900.0,-33.86880,151.209300,0,0,0,0,...,45.1,100.0,100.0,319784.0,6024.0,8 Apr,12590.0,1.9,NaN,None
21,New South Wales,Australia,Australia,23696900.0,-33.86880,151.209300,0,0,0,0,...,45.1,100.0,100.0,319784.0,6024.0,8 Apr,12590.0,1.9,NaN,None
22,New South Wales,Australia,Australia,23696900.0,-33.86880,151.209300,0,0,0,0,...,45.1,100.0,100.0,319784.0,6024.0,8 Apr,12590.0,1.9,24/03/2020,Full
23,New South Wales,Australia,Australia,23696900.0,-33.86880,151.209300,0,0,0,0,...,45.1,100.0,100.0,319784.0,6024.0,8 Apr,12590.0,1.9,NaN,None
24,Northern Territory,Australia,Australia,23696900.0,-12.46340,130.845600,0,0,0,0,...,45.1,100.0,100.0,319784.0,6024.0,8 Apr,12590.0,1.9,NaN,None
25,Northern Territory,Australia,Australia,23696900.0,-12.46340,130.845600,0,0,0,0,...,45.1,100.0,100.0,319784.0,6024.0,8 Apr,12590.0,1.9,NaN,None
26,Northern Territory,Australia,Australia,23696900.0,-12.46340,130.845600,0,0,0,0,...,45.1,100.0,100.0,319784.0,6024.0,8 Apr,12590.0,1.9,NaN,None
27,Northern Territory,Australia,Australia,23696900.0,-12.46340,130.845600,0,0,0,0,...,45.1,100.0,100.0,319784.0,6024.0,8 Apr,12590.0,1.9,NaN,None
28,Northern Territory,Australia,Australia,23696900.0,-12.46340,130.845600,0,0,0,0,...,45.1,100.0,100.0,319784.0,6024.0,8 Apr,12590.0,1.9,NaN,None
29,Northern Territory,Australia,Australia,23696900.0,-12.46340,130.845600,0,0,0,0,...,45.1,100.0,100.0,319784.0,6024.0,8 Apr,12590.0,1.9,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3821,Saint Pierre and Miquelon,France,France,66078000.0,46.88520,-56.315900,0,0,0,0,...,NaN,NaN,NaN,224254.0,54627.0,2 Apr,3346.0,24.4,NaN,None
3822,Saint Pierre and Miquelon,France,France,66078000.0,46.88520,-56.315900,0,0,0,0,...,NaN,NaN,NaN,224254.0,54627.0,2 Apr,3346.0,24.4,27/03/2020,Partial
3823,Saint Pierre and Miquelon,France,France,66078000.0,46.88520,-56.315900,0,0,0,0,...,NaN,NaN,NaN,224254.0,54627.0,2 Apr,3346.0,24.4,NaN,None
3824,Saint Pierre and Miquelon,France,France,66078000.0,46.88520,-56.315900,0,0,0,0,...,NaN,NaN,NaN,224254.0,54627.0,2 Apr,3346.0,24.4,20/03/2020,Partial
3825,Saint Pierre and Miquelon,France,France,66078000.0,46.88520,-56.315900,0,0,0,0,...,NaN,NaN,NaN,224254.0,54627.0,2 Apr,3346.0,24.4,NaN,None
3826,Saint Pierre and Miquelon,France,France,66078000.0,46.88520,-56.315900,0,0,0,0,...,NaN,NaN,NaN,224254.0,54627.0,2 Apr,3346.0,24.4,NaN,None
3827,Saint Pierre and Miquelon,France,France,66078000.0,46.88520,-56.315900,0,0,0,0,...,NaN,NaN,NaN,224254.0,54627.0,2 Apr,3346.0,24.4,NaN,None
3828,Saint Pierre and Miquelon,France,France,66078000.0,46.88520,-56.315900,0,0,0,0,...,NaN,NaN,NaN,224254.0,54627.0,2 Apr,3346.0,24.4,NaN,None
3829,Saint Pierre and Miquelon,France,France,66078000.0,46.88520,-56.315900,0,0,0,0,...,NaN,NaN,NaN,224254.0,54627.0,2 Apr,3346.0,24.4,NaN,None
3830,Saint Pierre and Miquelon,France,France,66078000.0,46.88520,-56.315900,0,0,0,0,...,NaN,NaN,NaN,224254.0,54627.0,2 Apr,3346.0,24.4,16/03/2020,Full
3831,NaN,South Sudan,South Sudan,11384393.0,6.87700,31.307000,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3832,NaN,Sao Tome and Principe,Sao Tome and Principe,204327.0,0.18636,6.613081,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3833,0,Comoros (the),Comoros (the),813912.0,0.00000,0.000000,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3834,0,Kiribati,Kiribati,106461.0,0.00000,0.000000,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3835,0,Lesotho,Lesotho,2098000.0,0.00000,0.000000,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3836,0,Marshall Islands (the),Marshall Islands (the),53127.0,0.00000,0.000000,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3837,0,Micronesia (Federated States of),Micronesia (Federated States of),105544.0,0.00000,0.000000,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3838,0,Myanmar,Myanmar,53370000.0,0.00000,0.000000,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3839,0,Nauru,Nauru,10084.0,0.00000,0.000000,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3840,0,Palau,Palau,20901.0,0.00000,0.000000,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3841,0,Republic of Korea (the),Republic of Korea (the),51470000.0,0.00000,0.000000,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3842,0,Samoa,Samoa,187820.0,0.00000,0.000000,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3843,0,Solomon Islands,Solomon Islands,581344.0,0.00000,0.000000,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3844,0,Sudan (the),Sudan (the),40530000.0,0.00000,0.000000,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3845,0,Tajikistan,Tajikistan,8161000.0,0.00000,0.000000,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3846,0,Tonga,Tonga,103252.0,0.00000,0.000000,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3847,0,Turkmenistan,Turkmenistan,5838064.0,0.00000,0.000000,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3848,0,Tuvalu,Tuvalu,11323.0,0.00000,0.000000,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3849,0,Vanuatu,Vanuatu,264652.0,0.00000,0.000000,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3850,0,Yemen,Yemen,25956000.0,0.00000,0.000000,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Vaccine - clinical test
https://www.clinicaltrials.gov/ct2/results?cond=COVID-19

https://www.who.int/ictrp/en/

https://www.kaggle.com/zohrarezgui/coronavirus-clinical-trials-dataset

In [70]:
trial = pd.read_csv('variable/Intervention/COVID19-927-trials.csv')
trial = trial[['Countries', 'Date registration','Date enrollement','Target size']]
trial.shape

(927, 4)

We will take the sum of the number of clinical trials.

In [72]:
trial.Countries.count()

824

In [69]:
tri=[]
for i in list(trial.Countries.unique()):
    s =0
    for j in range(927)
    if trial.Countries == i :
        s+=1
    tri.append(s)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [56]:
trial.drop(['Public title', 'Reference'], axis=1, inplace=True)
lock.rename(columns={'Date':'lockdown_date',
                        'Type':'Type_lockdown'}, inplace=True)
df = df.merge(lock, how='left', left_on='Territory', right_on='Country/Region')

0                                                    NaN
1                                                  China
2                                                  China
3                                                  China
4                                                  China
5                                                  China
6                                                  China
7                                                  China
8                                                  China
9                                                    NaN
10                                                   NaN
11                                                   NaN
12                                                 China
13                                                 China
14                                                 China
15                                                 China
16                                                 China
17                                                 China
18                                                 China
19                                                 China
20                                                 China
21                                                 China
22                                                   NaN
23                                                 China
24                                                 China
25                                                 China
26                                                 China
27                                                 China
28                                                 China
29                                                 China
                             ...
897                                                China
898                                                China
899                                                China
900                                                China
901                                               Norway
902    Australia;Hong Kong;Taiwan, Province Of China;...
903                                            Australia
904                                                China
905    France;Belgium;Luxembourg;Netherlands;Germany;...
906                                                China
907                                                China
908                                            Australia
909                                Australia;New Zealand
910                                              Belgium
911                                               Greece
912                                               Greece
913                                            Australia
914                                                  NaN
915                                                China
916                                            Australia
917                                            Australia
918                                                China
919                                      The Netherlands
920                                      The Netherlands
921                                               France
922                                               France
923                                              Denmark
924                                              Belgium
925                                            Australia
926                                            Australia
Name: Countries, Length: 927, dtype: object