# Pharmaceutical and Non-pharmaceutical interventions

April 13

In [73]:
import pandas as pd
import seaborn as sns
import matplotlib as plt

In [74]:
#Read train 
deaths = pd.read_csv('data/deaths.csv')
cases = pd.read_csv('data/cases.csv')
deaths.drop(['Province/State'], axis=True)
deaths.shape

(274, 84)

In [75]:
df = pd.read_csv('Global_variable_per_country.csv')

### Test

https://www.kaggle.com/skylord/covid19-tests-conducted-by-country

In [76]:
test = pd.read_csv('variable/Intervention/test/Tests_conducted_09April2020.csv')

test['As of'].unique()

In [77]:
len(test['Country or region'].unique())

126

In [78]:
test.drop(['Ref.', 'Source_1','Source_2'], axis=1, inplace=True)

In [79]:
df = df.merge(test, how='left', left_on='Territory', right_on='Country or region')
df.drop(['Country or region'], axis=1, inplace=True)

df[df.Tests.isnull()]

247 counties without info relative to test !

Maybe find better data.

### Lockdown

https://www.kaggle.com/jcyzag/covid19-lockdown-dates-by-country

In [80]:
lock = pd.read_csv('variable/Intervention/lockdown/countryLockdowndates.csv')
lock.drop(['Province', 'Reference'], axis=1, inplace=True)
lock.rename(columns={'Date':'lockdown_date',
                        'Type':'Type_lockdown'}, inplace=True)
df = df.merge(lock, how='left', left_on='Territory', right_on='Country/Region')

In [81]:
df.drop(['Country/Region_y'], axis=1, inplace=True)

## Vaccine - clinical test
https://www.clinicaltrials.gov/ct2/results?cond=COVID-19

https://www.who.int/ictrp/en/

https://www.kaggle.com/zohrarezgui/coronavirus-clinical-trials-dataset

In [82]:
trial = pd.read_csv('variable/Intervention/COVID19-927-trials.csv')
trial = trial[['Countries', 'Date registration','Date enrollement','Target size']]
trial.shape

(927, 4)

We will take the sum of the number of clinical trials.

In [96]:
trial

,Countries,Date registration,Date enrollement,Target size
0,NaN,27/01/2020,"January 25, 2020",500
1,China,2020-02-16,2020-02-16,Case series:40;
2,China,26/01/2020,"January 1, 2020",50
3,China,30/01/2020,"January 28, 2020",125
4,China,03/02/2020,"January 20, 2020",12000
5,China,03/02/2020,"February 3, 2020",30000
6,China,2020-02-17,2020-02-01,survival group:200;died:200;
7,China,2020-02-16,2020-02-06,Case series:100;
8,China,28/01/2020,"January 22, 2020",150
9,NaN,06/02/2020,"February 7, 2020",380
10,NaN,06/02/2020,"February 10, 2020",80
11,NaN,06/02/2020,"February 7, 2020",160
12,China,2020-02-16,2020-03-01,experimental group :100;control group:100;
13,China,2020-02-16,2020-02-10,Conventional treatment group:50;Experimental g...
14,China,2020-02-16,2020-03-01,experimental group :100;control group :100;
15,China,2020-02-16,2020-01-31,Case series:100;
16,China,2020-02-15,2020-02-15,experimental group:10;control group:10;
17,China,2020-02-14,2020-02-14,control group:15;experimental group:15;
18,China,2020-02-16,2020-02-17,Target condition:200;Difficult condition:0
19,China,2020-02-15,2020-02-10,experimental group:150;control group:150;
20,China,2020-02-16,2020-02-16,Case series:1000;
21,China,2020-02-16,2020-02-10,Case series:271;
22,NaN,2020-02-14,2020-02-20,Experimental group:30;Control group:30;
23,China,2020-02-14,2020-02-16,Target condition:10000;Difficult condition:300
24,China,2020-02-15,2020-02-15,Experimental group:260;Control group:260;
25,China,2020-02-15,2020-02-01,Experimental group:30;Control group:30;
26,China,2020-02-15,2020-02-15,Target condition:500;Difficult condition:100
27,China,2020-02-15,2020-02-15,Chinese traditional medicine group 1:60;Chines...
28,China,2020-02-14,2020-02-12,case series:100;
29,China,2020-02-13,2020-02-15,Experimental group:50;Control group:50;
...,...,...,...,...
897,China,2020-04-05,2020-04-20,Control group :20;normal group:20;severe group...
898,China,2020-04-03,2020-04-10,Case series:7000;
899,China,2020-04-03,2020-03-15,ARBs Group:60;non-ARBs Group:120;
900,China,2020-04-02,2020-02-01,Experimental group:18;Control group:18;
901,Norway,16/03/2020,23/03/2020,200
902,"Australia;Hong Kong;Taiwan, Province Of China;...",30/03/2020,05/03/2020,400
903,Australia,06/04/2020,10/04/2020,200
904,China,2020-03-23,2020-02-04,Case series:120;
905,France;Belgium;Luxembourg;Netherlands;Germany;...,09/03/2020,09/03/2020,3100
906,China,2020-04-02,2020-03-25,Target condition:200;Difficult condition:0
907,China,2020-04-01,2020-01-25,experimental group:28;control group :28;
908,Australia,06/04/2020,01/06/2020,154
909,Australia;New Zealand,06/04/2020,10/04/2020,2500
910,Belgium,24/03/2020,24/03/2020,80
911,Greece,31/03/2020,01/04/2020,20
912,Greece,31/03/2020,02/04/2020,60
913,Australia,30/03/2020,30/03/2020,680
914,NaN,2020-04-01,2020-03-20,NaN
915,China,2020-03-31,2020-02-05,Target condition:500;Difficult condition:0
916,Australia,06/04/2020,01/05/2020,58
917,Australia,06/04/2020,07/04/2020,100000
918,China,2020-03-29,2020-03-28,Mild:400;severe:200;
919,The Netherlands,16/03/2020,16/03/2020,50
920,The Netherlands,23/03/2020,23/03/2020,4000
921,France,24/03/2020,31/03/2020,1300
922,France,26/03/2020,30/03/2020,50
923,Denmark,24/03/2020,03/04/2020,200
924,Belgium,04/04/2020,03/04/2020,342
925,Australia,06/04/2020,31/03/2020,150
926,Australia,06/04/2020,20/04/2020,60

In [164]:
nb_clinical_trial = list(trial.groupby('Countries').size())
country = list(trial.sort_values('Countries').Countries.unique())[0:62]

In [165]:
trial2 = pd.DataFrame({'nb_trial':nb_clinical_trial ,'country' :country })
trial2.shape

(62, 2)

In [167]:
trial2

    nb_trial                                            country
0          1  Argentina;Brazil;Canada;Germany;Indonesia;Iran...
1          8                                          Australia
2          1  Australia;Austria;Belgium;Brazil;Bulgaria;Croa...
3          1  Australia;Hong Kong;Taiwan, Province Of China;...
4          1                              Australia;New Zealand
5          4                                            Belgium
6          1                                      Belgium;Italy
7          4                                             Brazil
8          9                                             Canada
9          1                                              Chian
10       620                                              China
11         1                            China;Italy;China;Italy
12         1                                             China?
13         1                                            Chinese
14         2                                           Colombia
15         5                                            Denmark
16         2                                              Egypt
17        21                                             France
18         1  France;Belgium;Luxembourg;Netherlands;Germany;...
19         1                                      France;France
20         1  France;Hungary;Czech Republic;Denmark;Germany;...
21         1                                      French Guiana
22         6                                            Germany
23         2                                             Greece
24         3                                          Hong Kong
25         7                         Iran (Islamic Republic of)
26         1  Iran (Islamic Republic of);Iran (Islamic Repub...
27         2                          Iran, Islamic Republic of
28         1                                            Ireland
29         1                                             Israel
..       ...                                                ...
32         1  Italy;Romania;United Kingdom;Italy;Romania;Uni...
33         4                                              Japan
34         1          Japan,Asia(except Japan),Australia,Europe
35         1                                             Jordan
36         1                                 Korea, Republic of
37         2                                             Mexico
38         5                                        Netherlands
39         1  New Zealand;Germany;Netherlands;Denmark;Austra...
40         4                                             Norway
41         1                                           Pakistan
42         1                                            Romania
43         1                                          Singapore
44         6                                              Spain
45         1                                             Sweden
46         2                                        Switzerland
47         6                                    The Netherlands
48         3                                             Turkey
49        10                                     United Kingdom
50        33                                      United States
51         1  United States;Australia;Canada;Ireland;South A...
52         1  United States;Australia;Korea, Republic of;Tai...
53         1                 United States;Canada;United States
54         1  United States;China;Germany;Hong Kong;Italy;Ko...
55         1  United States;Germany;Hong Kong;Italy;Korea, R...
56         1                 United States;Israel;United States
57         1  United States;Japan;Korea, Republic of;Singapo...
58         1         United States;United Kingdom;United States
59         1                                            Vietnam
60         1                                              Wuhan
61         1                                              china

[62 rows x 2 columns]

In [147]:
trial2

    nb_trial                                            country
0          1                                              China
1          8                                              Wuhan
2          1                                             France
3          1                                            Chinese
4          1                                              china
5          4                                          Hong Kong
6          1  New Zealand;Germany;Netherlands;Denmark;Austra...
7          4                                              Chian
8          9                                             China?
9          1                                 Korea, Republic of
10       620                         Iran (Islamic Republic of)
11         1  Iran (Islamic Republic of);Iran (Islamic Repub...
12         1                                            Germany
13         1                                              Japan
14         2                                      France;France
15         5                                      United States
16         2          Japan,Asia(except Japan),Australia,Europe
17        21                                             Jordan
18         1                                          Singapore
19         1                                              Italy
20         1                                             Sweden
21         1  Italy;Japan;Germany;Israel;Russian Federation;...
22         6                                             Canada
23         2                                     United Kingdom
24         3                                            Belgium
25         7  United States;Germany;Hong Kong;Italy;Korea, R...
26         1                                              Spain
27         2                 United States;Canada;United States
28         1                            China;Italy;China;Italy
29         1  United States;Japan;Korea, Republic of;Singapo...
..       ...                                                ...
32         1  Italy;Romania;United Kingdom;Italy;Romania;Uni...
33         4                                        Netherlands
34         1                                             Norway
35         1                                             Turkey
36         1                                            Denmark
37         2  United States;Australia;Korea, Republic of;Tai...
38         5  United States;China;Germany;Hong Kong;Italy;Ko...
39         1                                              Egypt
40         4                                          Australia
41         1                          Iran, Islamic Republic of
42         1                                      Belgium;Italy
43         1                                            Romania
44         6                                      French Guiana
45         1                                            Ireland
46         2                                        Switzerland
47         6                                           Pakistan
48         3  Australia;Austria;Belgium;Brazil;Bulgaria;Croa...
49        10                                             Mexico
50        33                                            Vietnam
51         1         United States;United Kingdom;United States
52         1                                           Colombia
53         1                                    The Netherlands
54         1  United States;Australia;Canada;Ireland;South A...
55         1  Argentina;Brazil;Canada;Germany;Indonesia;Iran...
56         1                                             Israel
57         1  France;Hungary;Czech Republic;Denmark;Germany;...
58         1  Australia;Hong Kong;Taiwan, Province Of China;...
59         1  France;Belgium;Luxembourg;Netherlands;Germany;...
60         1                              Australia;New Zealand
61         1                                             Greece

[62 rows x 2 columns]

In [ ]:
df = df.merge(lock, how='left', left_on='Territory', right_on='country')