In [2]:
import pandas as pd
import seaborn as sns
import matplotlib as plt

In [3]:
#Read train 
deaths = pd.read_csv('data/deaths.csv')
cases = pd.read_csv('data/cases.csv')
deaths.drop(['Province/State'], axis=True)
deaths.shape

(274, 84)

In [4]:
df = pd.read_csv('Global_variable_per_country+Intervention+Africa.csv')

In [5]:
percent_missing = df.isnull().sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'column_name': df.columns,
                                 'percent_missing': percent_missing})

In [9]:
# no missing values
missing_value_df[missing_value_df.percent_missing!=0]

Empty DataFrame
Columns: [column_name, percent_missing]
Index: []

We will add the number of cases.

In [10]:
cases.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/31/20,4/1/20,4/2/20,4/3/20,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20,Territory
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,174,237,273,281,299,349,367,423,444,Afghanistan
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,243,259,277,304,333,361,377,383,400,Albania
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,716,847,986,1171,1251,1320,1423,1468,1572,Algeria
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,376,390,428,439,466,501,525,545,564,Andorra
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,7,8,8,8,10,14,16,17,19,Angola

In [11]:
cases.drop(['Lat','Long','Province/State','Territory'], axis=1, inplace=True)

In [15]:
df = df.merge(cases, how='left', left_on='Country/Region_x', right_on='Country/Region')

In [21]:
df.columns[10:290]

Index(['1/26/20_x', '1/27/20_x', '1/28/20_x', '1/29/20_x', '1/30/20_x',
       '1/31/20_x', '2/1/20_x', '2/2/20_x', '2/3/20_x', '2/4/20_x',
       ...
       '3/30/20_y', '3/31/20_y', '4/1/20_y', '4/2/20_y', '4/3/20_y',
       '4/4/20_y', '4/5/20_y', '4/6/20_y', '4/7/20_y', '4/8/20_y'],
      dtype='object', length=211)