# Zindi - Challenge

https://zindi.africa/competitions/predict-the-global-spread-of-covid-19

April 9, 2020

In [3]:
import pandas as pd
import seaborn as sns
import matplotlib as plt 
import requests
import lxml.html as lh

Only the folder Global_variable_per-country was used.

## Import Data

In [4]:
#Read train 
deaths = pd.read_csv('data/deaths.csv')
cases = pd.read_csv('data/cases.csv')
deaths.drop(['Province/State'], axis=True)
deaths.shape

(274, 84)

#transpose data frame
deaths.T

In [5]:
deaths.head(2)

,Province/State,Country/Region,Territory,Population,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,...,3/30/20,3/31/20,4/1/20,4/2/20,4/3/20,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20
0,NaN,Afghanistan,Afghanistan,26023100.0,33.0000,65.0000,0,0,0,0,...,4,4,4,6,6,7,7,11,14,14
1,NaN,Albania,Albania,2895947.0,41.1533,20.1683,0,0,0,0,...,11,15,15,16,17,20,20,21,22,22

Compare the 1st 3 columns.

In [6]:
#no missing values
sum(deaths['Country/Region'].isnull() == False)

274

l1=deaths['Country/Region'].unique()
l2=deaths['Territory'].unique()
len([value for value in l1 if value in l2] )

len([x for x in l2 if x not in l1])
[x for x in l2 if x not in l1]

len([x for x in l1 if x not in l2])
[x for x in l1 if x not in l2]

len(deaths['Territory'].unique())

len(deaths['Province/State'].unique())

deaths[deaths['Province/State'].isnull() == False]

We will use 'Country/Region'.

In [7]:
country = deaths['Country/Region']

deaths.iloc[220:225,]

deaths[deaths.Population.isnull()]

In [8]:
## Fill in NaN values for Population
index = deaths[deaths.Population.isnull()].index
# updated in 2017
deaths.at[index[0], 'Population'] = 76965 
deaths.at[index[1], 'Population'] = 395361
deaths.at[index[2], 'Population'] = 11.05e+06
deaths.at[index[3], 'Population'] = 428697
deaths.at[index[4], 'Population'] = 546388 
deaths.at[index[5], 'Population'] = 4.659e+06
deaths.at[index[6], 'Population'] = 5.261e+06
deaths.at[index[7], 'Population'] = 81.34e+06
deaths.at[index[8], 'Population'] = 24.29e+06 # Cote d'Ivoire
deaths.at[index[10], 'Population'] = 10.77e+06
deaths.at[index[11], 'Population'] = 1.367e+06
deaths.at[index[12], 'Population'] = 2.101e+06
deaths.at[index[13], 'Population'] = 81.16e+06
deaths.at[index[14], 'Population'] = 51.47e+06
deaths.at[index[15], 'Population'] = 3.55e+06
deaths.at[index[17], 'Population'] = 105264
deaths.at[index[18], 'Population'] = 161014
deaths.at[index[19], 'Population'] = 41109 
deaths.at[index[21], 'Population'] = 21.48e+06
deaths.at[index[23], 'Population'] = 104.9e+06
deaths.at[index[24], 'Population'] = 144.5e+06
deaths.at[index[25], 'Population'] = 7.022e+06
deaths.at[index[26], 'Population'] = 12.58e+06
deaths.at[index[28], 'Population'] = 57.31e+06
deaths.at[index[29], 'Population'] = 9.4e+06
deaths.at[index[30], 'Population'] = 65441
deaths.at[index[31], 'Population'] = 61559
deaths.at[index[32], 'Population'] = 170499
deaths.at[index[33], 'Population'] = 34571
deaths.at[index[34], 'Population'] = 84287
deaths.at[index[35], 'Population'] = 5900 #2008
deaths.at[index[38], 'Population'] = 31.98e+06
deaths.at[index[39], 'Population'] = 95.54e+06
deaths.at[index[40], 'Population'] = 18.27e+06
deaths.at[index[41], 'Population'] = 1.296e+06
deaths.at[index[42], 'Population'] = 6.858e+06
deaths.at[index[43], 'Population'] = 15094
deaths.at[index[44], 'Population'] = 31196
deaths.at[index[45], 'Population'] = 35446
deaths.at[index[46], 'Population'] = 25157
deaths.at[index[47], 'Population'] = 2840
deaths.at[index[48], 'Population'] = 204327
deaths.at[index[49], 'Population'] = 813912
deaths.at[index[50], 'Population'] = 53127
deaths.at[index[51], 'Population'] = 105544
deaths.at[index[52], 'Population'] = 53.37e+06
deaths.at[index[53], 'Population'] = 51.47e+06
deaths.at[index[54], 'Population'] = 40.53e+06

#2018 
deaths.at[index[27], 'Population'] = 23.78e+06
deaths.at[index[37], 'Population'] = 327.2e+06
#2019
deaths.at[index[9], 'Population'] = 10.65e+06
deaths.at[index[20], 'Population'] = 17.28e+06
deaths.at[index[22], 'Population'] = 2.077e+06
deaths.at[index[36], 'Population'] = 6.65e+06

#2020
deaths.at[index[16], 'Population'] = 631219

No more NaN values for population.

Add a code country column.

In [9]:
def web_scraping_data(link):
    #Create a handle, page, to handle the contents of the website
    page = requests.get(link)
    doc = lh.fromstring(page.content)
    tr_elements = doc.xpath('//tr')

    tr_elements = doc.xpath('//tr')
    col=[]
    i=0
    for t in tr_elements[0]:
        i+=1
        name=t.text_content()
        #print ('%d:"%s"'%(i,name))
        col.append((name,[]))

    for j in range(1,len(tr_elements)):
        T=tr_elements[j]
        i=0

        for t in T.iterchildren():
            data=t.text_content() 
            if i>0:
                try:
                    data=int(data)
                except:
                    pass

            col[i][1].append(data)
            i+=1

    Dict={title:column for (title,column) in col}
    df=pd.DataFrame(Dict)
    
    return df

In [10]:
code_country = web_scraping_data("https://www.iban.com/country-codes")
df = deaths.merge(code_country, how='left', left_on='Country/Region', right_on='Country')

df[df['Alpha-3 code'].isnull()]

In [11]:
## Fill in NaN values for alpha 3 code 
index = df[df['Alpha-3 code'].isnull()].index
variable = 'Alpha-3 code'
df.at[index[0], variable] = 'BHS'
df.at[index[1], variable] = 'BOL'
df.at[index[2], variable] = 'BRN'
df.at[index[3], variable] = 'CAF'
df.at[index[4], variable] = 'COG'
df.at[index[5], variable] = 'COD'
df.at[index[6], variable] = 'CIV'
df.at[index[7], variable] = 'DOM'
df.at[index[8], variable] = 'GMB'
df.at[index[9],variable] = 'IRN'
df.at[index[10],variable] = 'PRK'
df.at[index[11], variable] = 'MDA'
df.at[index[12], variable] = 'ABW'
df.at[index[13], variable] = 'CUW'
df.at[index[14],variable] = 'SXM'
df.at[index[15],variable] = 'NLD'
df.at[index[16],variable] = 'NER'
df.at[index[17], variable] = 'MKD'
df.at[index[18], variable] = 'PHL'
df.at[index[19], variable] = 'RUS'
df.at[index[20], variable] = 'SSD'
df.at[index[21], variable] = 'TWN'
df.at[index[22],variable] = 'TZA'
df.at[index[23],variable] = 'ARE'
df.at[index[24],variable] = 'BMU'
df.at[index[25],variable] = 'CYM'
df.at[index[26],variable] = 'GBR' #by default
df.at[index[27],variable] = 'GIB'
df.at[index[28],variable] = 'IMN'
df.at[index[29],variable] = 'MSR'
df.at[index[30],variable] = 'GBR'
df.at[index[31],variable] = 'USA'
df.at[index[32], variable] = 'VEN'
df.at[index[33],variable] = 'VNM'
df.at[index[34],variable] = 'SYR'
df.at[index[35], variable] = 'LAO'
df.at[index[36], variable] = 'AIA'
df.at[index[37], variable] = 'VGB'
df.at[index[38], variable] = 'TCA'
df.at[index[39],variable] = 'BES'
df.at[index[40], variable] = 'FLK'
df.at[index[41], variable] = 'KOR'

We will use alpha 3 code to join with other tables.

## Add variables

### Temperature

Source 
- https://datacatalog.worldbank.org/dataset/climate-change-knowledge-portal-historical-data

In [12]:
temp = pd.read_csv('variable/Global_variable_per-country/temp.csv')

In [13]:
temp

,ISO_3DIGIT,Jan_Temp,Feb_temp,Mar_temp,Apr_Temp,May_temp,Jun_Temp,July_Temp,Aug_Temp,Sept_temp,Oct_temp,Nov_Temp,Dec_temp,Annual_temp
0,AFG,0.07,2.11,7.60,13.37,18.22,23.20,25.26,23.77,19.03,12.99,7.00,2.43,12.92
1,AGO,22.58,22.68,22.78,22.35,20.74,18.37,17.95,19.90,22.19,23.18,22.79,22.61,21.51
2,ALB,2.02,3.22,6.04,9.92,14.44,17.93,20.54,20.48,17.16,12.27,7.58,3.65,11.27
3,ARE,18.43,19.43,22.61,26.58,30.62,32.46,33.80,33.55,31.74,28.34,24.06,20.28,26.83
4,ARG,20.80,19.90,17.51,14.05,10.65,7.66,7.42,9.02,11.53,14.67,17.54,19.83,14.22
5,ARM,-8.66,-6.65,-0.57,6.62,11.43,15.58,19.82,19.28,14.97,7.92,1.62,-4.87,6.37
6,AUS,27.78,27.23,25.37,21.87,17.86,14.83,13.95,15.71,18.89,22.46,25.13,26.99,21.51
7,AUT,-3.52,-1.99,1.42,5.51,10.12,13.29,15.26,14.98,12.09,7.55,1.73,-2.21,6.19
8,AZE,-0.20,0.80,4.97,11.64,16.80,21.73,24.76,24.11,19.83,12.88,7.33,2.03,12.22
9,BDI,20.24,20.39,20.43,20.37,20.05,19.37,19.36,20.44,21.16,20.98,20.24,20.17,20.27
10,BEL,1.95,2.62,5.23,8.15,12.40,15.43,17.24,17.18,14.43,10.68,5.76,3.11,9.51
11,BEN,26.57,28.69,30.14,30.20,28.93,27.13,25.84,25.44,25.90,27.15,27.15,26.39,27.46
12,BFA,25.00,27.84,30.63,32.05,31.47,29.23,27.11,26.36,26.97,28.71,27.47,25.25,28.18
13,BGD,18.63,21.02,25.42,28.02,28.45,28.46,28.30,28.39,28.36,27.17,23.70,19.74,25.47
14,BGR,-1.18,0.87,4.70,9.92,14.99,18.64,20.85,20.49,16.85,11.48,5.95,1.21,10.40
15,BHS,21.65,21.88,23.00,24.21,25.77,27.23,27.95,27.99,27.68,26.45,24.44,22.52,25.06
16,BIH,-1.36,0.40,4.01,8.44,12.94,16.33,18.52,18.48,14.94,9.95,4.81,0.73,9.02
17,BLR,-6.80,-5.50,-0.69,6.92,13.44,16.54,17.72,16.95,12.42,6.90,1.21,-3.58,6.29
18,BLZ,22.37,23.04,24.45,25.87,26.91,26.93,26.45,26.66,26.49,25.42,23.56,22.62,25.06
19,BOL,22.57,22.43,22.07,21.00,19.25,17.65,17.77,19.43,21.33,22.51,22.91,22.78,20.98
20,BRA,25.58,25.65,25.49,25.05,24.19,23.29,23.24,24.23,25.13,25.73,25.74,25.66,24.92
21,BRN,25.34,25.47,25.92,26.45,26.51,26.26,26.04,26.08,26.05,25.92,25.48,25.69,25.93
22,BTN,0.56,2.17,5.68,8.78,11.53,14.39,14.80,14.59,13.35,9.69,5.29,2.07,8.58
23,BWA,26.31,25.42,24.30,21.42,17.60,14.29,14.21,17.16,21.36,24.28,25.50,25.89,21.48
24,CAF,24.28,26.01,26.96,26.76,25.88,24.65,23.77,23.71,23.84,24.31,24.25,23.65,24.84
25,CAN,-24.62,-23.25,-18.72,-9.79,-0.29,7.24,11.11,9.52,3.45,-4.36,-14.50,-21.52,-7.14
26,CHE,-3.24,-2.32,0.09,3.35,7.44,10.78,13.03,12.54,10.14,6.08,1.05,-1.96,4.75
27,CHL,12.68,12.20,10.87,8.62,6.29,4.40,4.04,4.84,6.32,8.22,10.12,11.85,8.37
28,CHN,-8.49,-5.91,0.49,7.59,13.07,17.07,19.37,18.48,13.87,7.37,-0.49,-6.51,6.33
29,CIV,25.84,27.77,28.25,28.05,27.19,25.88,24.87,24.74,25.27,25.99,26.32,25.43,26.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,SUR,25.04,24.99,25.35,25.64,25.75,25.58,25.60,26.02,26.50,26.69,26.45,25.59,25.77
149,SVK,-4.17,-1.72,2.40,7.60,12.43,15.33,16.95,16.67,13.17,8.32,2.45,-2.19,7.27
150,SVN,-2.09,-0.13,3.38,7.58,12.16,15.40,17.38,16.94,13.87,9.21,3.58,-0.79,8.04
151,SWE,-10.07,-9.01,-4.98,0.19,6.45,11.74,13.51,12.12,7.64,2.79,-3.81,-8.03,1.55
152,SWZ,24.20,23.99,23.06,20.69,18.35,15.72,15.91,17.62,19.77,20.62,21.78,23.26,20.41
153,SYR,6.12,7.95,11.46,16.37,21.49,25.99,28.73,28.44,25.20,19.60,12.74,7.67,17.65
154,TCD,20.66,23.10,26.55,29.55,31.03,30.75,29.26,28.21,28.36,27.23,23.80,21.29,26.65
155,TGO,26.69,28.55,29.31,28.81,27.60,26.01,25.01,24.83,25.36,26.34,26.84,26.24,26.80
156,THA,23.10,25.21,27.38,28.89,28.32,27.58,27.19,26.93,26.73,26.20,24.60,22.85,26.25
157,TJK,-10.20,-8.83,-3.08,3.44,7.49,12.30,15.38,14.71,10.25,4.00,-2.08,-7.08,3.03
158,TKM,1.01,2.62,8.53,16.07,22.18,26.86,29.35,27.33,21.91,14.46,8.76,3.56,15.22
159,TLS,25.46,25.47,25.36,25.18,24.81,24.08,23.81,24.06,24.66,25.34,25.76,25.61,24.97
160,TTO,24.72,24.85,25.38,26.12,26.60,26.15,26.06,26.31,26.52,26.41,26.02,25.22,25.86
161,TUN,10.44,11.86,14.21,17.39,21.68,25.98,28.75,28.69,25.67,20.69,15.46,11.56,19.36
162,TUR,-0.52,0.98,4.77,10.02,14.47,18.54,21.83,21.65,18.11,12.56,6.85,1.94,10.93
163,TZA,23.05,23.21,23.18,22.64,21.73,20.34,20.10,20.99,22.30,23.41,23.53,23.18,22.31
164,UGA,23.18,23.66,23.68,23.05,22.53,21.98,21.56,21.77,22.11,22.48,22.54,22.61,22.60
165,UKR,-5.15,-3.69,1.18,9.09,15.09,18.42,19.95,19.34,14.78,8.63,2.81,-1.98,8.21
166,URY,23.90,23.37,21.26,17.88,14.84,11.77,11.79,12.78,14.33,16.95,19.62,22.30,17.57
167,USA,-6.31,-4.29,0.06,5.87,12.09,17.12,19.94,18.85,14.41,7.70,0.38,-4.76,6.75
168,UZB,-3.03,-1.55,5.38,14.10,20.42,25.34,27.71,25.31,19.55,11.63,5.36,0.03,12.52
169,VCT,25.31,25.30,25.90,26.68,27.72,27.92,27.61,27.70,27.61,27.32,26.88,25.89,26.82
170,VEN,25.03,25.56,26.13,26.14,25.61,24.80,24.62,24.90,25.24,25.43,25.39,24.98,25.32
171,VIR,23.94,24.10,24.47,25.23,26.05,26.72,26.87,27.13,27.15,26.67,25.86,24.72,25.74
172,VNM,19.46,20.60,22.06,25.25,26.83,27.09,27.17,26.88,26.06,24.61,22.42,20.39,24.07
173,VUT,25.33,25.44,25.23,24.48,23.52,22.79,22.24,22.22,22.49,23.26,24.28,24.81,23.84
174,YEM,18.35,19.25,20.82,23.55,25.86,27.80,26.98,26.78,26.13,23.02,20.30,19.04,23.16
175,ZAF,23.19,22.66,21.10,17.74,14.24,11.16,11.07,12.97,16.03,18.31,20.48,22.20,17.60
176,ZMB,22.89,22.94,22.90,21.91,19.58,17.36,17.07,19.47,22.92,24.67,24.19,23.11,21.58
177,ZWE,23.90,23.49,22.92,21.15,18.40,15.79,15.64,17.90,21.37,23.74,24.23,23.85,21.03

In [11]:
# temperature = pd.merge(left=temp, right=df, left_on='ISO_3DIGIT', right_on='Alpha-3 code')

df = df.merge(temp, how='left', left_on='Alpha-3 code', right_on='ISO_3DIGIT')
df.drop(['Numeric','ISO_3DIGIT'], axis =1, inplace=True)

In [12]:
sum(df.Annual_temp.isnull())

38

### Other epidemy

SARS-CoV

China Canada, Hong Kong Special Administrative Region of China, Chinese Taipei, Singapore, and Hanoi in Viet Nam.

Ebola 

The Democratic Republic of the Congo
Gabon
Guinea
Italy
Ivory Coast
Liberia
Mali
Nigeria
Philippines
Russia
Senegal
Sierra Leone
South Africa
South Sudan
Spain
Uganda
United Kingdom
United States
What causes Ebol

### Mers

https://www.kaggle.com/imdevskp/mers-outbreak-dataset-20122019

In [13]:
#nb of case in each country for MERS
mers = pd.read_csv('variable/Global_variable_per-country/mers/country_count_latest.csv')
# mers = pd.read_csv('variable/mers/weekly_clean.csv') # to follow week per week 
mers.shape

(27, 2)

In [14]:
df = df.merge(mers, how='left', left_on='Territory', right_on='Country')
df['Mers-confirmed'] = df.Confirmed 
df.drop(['Confirmed'], axis=1, inplace=True)

In [15]:
df["Mers-confirmed"] = df["Mers-confirmed"].fillna(0)

###Â Sars 
https://www.kaggle.com/imdevskp/sars-outbreak-2003-complete-dataset

In [17]:
sars = pd.read_csv('variable/Global_variable_per-country/sars/sars_2003.csv')
c = list(sars.Country.unique())
death_nb = []
for country in c:
    v = list(sars[sars.Country == country]['Number of deaths'])[len(sars[sars.Country ==country]['Number of deaths'])-1]
    death_nb.append(v)

In [19]:
sars = pd.DataFrame({'Country':c, 'death_nb_sars': death_nb})
df = df.merge(sars, how='left', left_on='Territory', right_on='Country')
df.drop(['Country_y',  'Country'], axis=1, inplace=True)
df["death_nb_sars"] = df["death_nb_sars"].fillna(0)

### Age / density / wealth /sex 

See relevant indicators

http://datatopics.worldbank.org/universal-health-coverage/coronavirus/

https://datacatalog.worldbank.org/search?search_api_views_fulltext_op=AND&f%5B0%5D=field_collection_field%3A2026&sort_by=field_wbddh_modified_date

https://data.worldbank.org/indicator/en.pop.dnst

In [22]:
def wordbankdata(variable, tab):
    data = pd.read_csv('variable/Global_variable_per-country'+variable+'.csv')
    data = data[['Country Code', '2018']]
    tab = df.merge(data, how='left', left_on='Alpha-3 code', right_on='Country Code')
    tab[variable] = tab['2018']
    tab.drop(['2018', 'Country Code'], axis=True, inplace=True)
    return(tab)

variable = '%+65'

In [23]:
df = wordbankdata(variable, df)

In [24]:
variable = '15-64pop'
df = wordbankdata(variable, df)
df = wordbankdata('density', df)
df = wordbankdata( 'sex', df)

In [25]:
## not so many NaN cool !
print(sum(df['%+65'].isnull()))
print(sum(df['15-64pop'].isnull()))
print(sum(df['density'].isnull()))
print(sum(df['sex'].isnull()))

23
23
12
23

In [26]:
rich = pd.read_csv('variable/Global_variable_per-country/income.csv')
rich = rich[['Country Code', 'IncomeGroup']]
df = df.merge(rich, how='left', left_on='Alpha-3 code', right_on='Country Code')
df.drop(['Country Code'], axis=1, inplace=True)

In [27]:
print(sum(df['IncomeGroup'].isnull()))

5

## Tourism

In [28]:
tourism = pd.read_csv('variable/Global_variable_per-country/tourism.csv')

tourism.count() / len(tourism)
Lets take 2011.

In [29]:
tourism = tourism[['2011','Country Code']]
df = df.merge(tourism, how='left', left_on='Alpha-3 code', right_on='Country Code')
df.drop(['Country Code'], axis=1, inplace=True)

In [30]:
df['tourism'] = df['2011']
df.drop(['2011'], axis=1, inplace=True)

## Economical factors

https://www.kaggle.com/lewisduncan93/the-economic-freedom-index

In [31]:
econ = pd.read_csv('variable/Global_variable_per-country/economic_freedom_index2019_data.csv',encoding='latin-1')

In [ ]:
df = df.merge(econ, how='left', left_on='Territory', right_on='Country')

In [34]:
df.drop(['Country'], axis=1, inplace=True)

## Immunization factor

https://www.kaggle.com/lsind18/who-immunization-coverage

BCG.csv: the percentage of 1-year-olds who have received one dose of bacille Calmette-GuÃ©rin (BCG) vaccine in a given year.

DTP3.csv: the percentage of 1-year-olds who have received three doses of the combined diphtheria, tetanus toxoid and pertussis vaccine in a given year.

HepB3.csv: the percentage of 1-year-olds who have received three doses of hepatitis B vaccine in a given year.

Hib3.csv: the percentage of 1-year-olds who have received three doses of Haemophilus influenzae type B vaccine in a given year.

MCV1.csv: the percentage of children under 1 year of age who have received at least one dose of measles-containing vaccine in a given year. For countries recommending the first dose of measles vaccine in children over 12 months of age, the indicator is calculated as the proportion of children less than 12-23 months of age receiving one dose of measles-containing vaccine.

MCV2.csv: the percentage of children who have received two doses of measles containing vaccine (MCV2) in a given year, according to the nationally recommended schedule.

PAB.csv: the proportion of neonates in a given year that can be considered as having been protected against tetanus as a result of maternal immunization.

PCV3.csv: the percentage of 1-year-olds who have received three doses of pneumococcal conjugate vaccine (PCV3) in a given year.

Pol3.csv: the percentage of 1-year-olds who have received three doses of polio vaccine in a given year.

ROTAC.csv: the percentage of surviving infants who received the final recommended dose of rotavirus vaccine, which can be either the 2nd or the 3rd dose depending on the vaccine in a given year.

who-immunization-coverage folder

We will take the year 2018 (most recent and less NaN values).

In [35]:
import glob

for files in glob.glob("variable/Global_variable_per-country/who-immunization-coverage/*.csv"):
    data_immuno = pd.read_csv(files)
    data_immuno = data_immuno[[' 2018','Country']]
    df = df.merge(data_immuno, how='left', left_on='Territory', right_on='Country')
    name = files[35:39]
    df[name]= df[' 2018']
    df.drop([' 2018','Country'], axis=1, inplace=True)

## Split by continent

In [36]:
continent = pd.read_csv('variable/Global_variable_per-country/locations.csv')
continent.drop(['location', 'population_year','population'], axis=1, inplace=True)
df = df.merge(continent, how='left', left_on='Territory', right_on='countriesAndTerritories')
df.drop(['countriesAndTerritories'], axis=1, inplace=True)

In [37]:
index = df[df['continent'].isnull()].index
variable = 'continent'
df.at[index[0], variable] = 'Island'
df.at[index[1], variable] = 'Island'
df.at[index[2], variable] = 'South America'
df.at[index[3], variable] = 'Europe'
df.at[index[4], variable] = 'Asia'
df.at[index[5], variable] = 'Africa'
df.at[index[6], variable] = 'Island'
df.at[index[7], variable] = 'Africa'
df.at[index[8], variable] = 'Africa'
df.at[index[9],variable] = 'Africa'
df.at[index[10],variable] = 'Africa'
df.at[index[11], variable] = 'South America'
df.at[index[12], variable] = 'Africa'
df.at[index[13], variable] = 'Island'
df.at[index[14],variable] = 'Island'
df.at[index[15],variable] = 'South America'
df.at[index[16],variable] = 'Africa'
df.at[index[17], variable] = 'South America'
df.at[index[18], variable] = 'Island'
df.at[index[19], variable] = 'Island'
df.at[index[20], variable] = 'Island'
df.at[index[21], variable] = 'Island'
df.at[index[22],variable] = 'Island'
df.at[index[23],variable] = 'Island'
df.at[index[24],variable] = 'Island'
df.at[index[25],variable] = 'Africa'
df.at[index[26],variable] = 'Asia'
df.at[index[27],variable] = 'Asia'
df.at[index[28],variable] = 'Europe'
df.at[index[29],variable] = 'Island'
df.at[index[30],variable] = 'Island'
df.at[index[31],variable] = 'Island'
df.at[index[32], variable] = 'Africa'
df.at[index[33],variable] = 'Europe'
df.at[index[34],variable] = 'Island'
df.at[index[35], variable] = 'Asia'
df.at[index[36], variable] = 'Asia'
df.at[index[37], variable] = 'Island'
df.at[index[38], variable] = 'Island'
df.at[index[39],variable] = 'Europe'
df.at[index[40], variable] = 'Asia'
df.at[index[41], variable] = 'Africa'
df.at[index[42], variable] = 'Asia'
df.at[index[43], variable] = 'Africa'
df.at[index[44], variable] = 'Africa'
df.at[index[45], variable] = 'South America'
df.at[index[46], variable] = 'Asia'
df.at[index[47], variable] = 'Island'
df.at[index[48], variable] = 'Island'
df.at[index[49],variable] = 'Europe'
df.at[index[50], variable] = 'Island'
df.at[index[51],variable] = 'Europe'
df.at[index[52], variable] = 'North America'
df.at[index[53], variable] = 'Asia'
df.at[index[54], variable] = 'Asia'
df.at[index[55], variable] = 'Island'
df.at[index[56], variable] = 'Asia'
df.at[index[57], variable] = 'Africa'
df.at[index[58], variable] = 'Island'
df.at[index[59], variable] = 'Island'
df.at[index[60], variable] = 'Island'
df.at[index[61], variable] = 'Island'
df.at[index[62], variable] = 'Africa'
df.at[index[63], variable] = 'Island'
df.at[index[64], variable] = 'Island'
df.at[index[65], variable] = 'Africa'
df.at[index[66], variable] = 'Island'
df.at[index[67], variable] = 'Island'
df.at[index[68], variable] = 'Island'
df.at[index[69], variable] = 'Island'
df.at[index[70], variable] = 'Africa'
df.at[index[71], variable] = 'Island'
df.at[index[72], variable] = 'Island'
df.at[index[73], variable] = 'Island'
df.at[index[74], variable] = 'Island'
df.at[index[75], variable] = 'Asia'
df.at[index[76], variable] = 'Island'
df.at[index[77], variable] = 'Island'
df.at[index[78], variable] = 'Africa'
df.at[index[79],variable] = 'Asia'
df.at[index[80], variable] = 'Island'
df.at[index[81],variable] = 'Asia'
df.at[index[82], variable] = 'Island'
df.at[index[83], variable] = 'Island'
df.at[index[84],variable] = 'Asia'

In [38]:
df.continent.unique()

array(['Asia', 'Europe', 'Africa', 'Island', 'South America', 'Oceania',
       'North America'], dtype=object)

## Commorbidity / Risk Factors

### Obesity 

https://www.kaggle.com/arttua/who-obesity-by-country-2016

In [39]:
obesity = pd.read_csv('variable/Global_variable_per-country/obesity.csv')
obesity['Country'] = obesity['Unnamed: 0']
obesity.drop('Unnamed: 0', axis=1, inplace=True)

In [47]:
obesity.rename(columns={'Both.sexes':'pop_obsesity',
                        'Male':'Male_obesity','Female':'Female_obesity'}, inplace=True)

In [52]:
df = df.merge(obesity, how='left', left_on='Territory', right_on='Country')
df.drop(['Country'], axis=1, inplace=True)

## Medical care

### Hospital beds

https://www.kaggle.com/hamzael1/hospital-beds-by-country

In [54]:
beds = pd.read_csv('variable/Global_variable_per-country/beds.csv')

beds.count() / len(beds)

We will take the year 2011.

In [57]:
beds= beds[['Country Code', '2011']]

In [60]:
beds.rename(columns={'2011':'nb_beds'}, inplace=True)

In [62]:
df = df.merge(beds, how='left', left_on='Alpha-3 code', right_on='Country Code')
df.drop(['Country Code'], axis=1, inplace=True)

### Health Systems - WHO

In [64]:
hs = pd.read_csv('variable/Global_variable_per-country/Health_systems.csv')

In [65]:
hs.shape

(210, 14)

In [67]:
hs.drop(['Province_State','World_Bank_Name'], axis=1, inplace=True)

In [69]:
df = df.merge(hs, how='left', left_on='Territory', right_on='Country_Region')
df.drop(['Country_Region'], axis=1, inplace=True)

### Pollution ?
https://www.kaggle.com/kweinmeister/pm25-global-air-pollution-20102017

In [71]:
df.shape

(351, 174)

In [73]:
df.to_csv('Global_variable_per_country.csv',index=False)