# Pharmaceutical and Non-pharmaceutical interventions

April 13

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib as plt

In [2]:
#Read train 
deaths = pd.read_csv('data/deaths.csv')
cases = pd.read_csv('data/cases.csv')
deaths.drop(['Province/State'], axis=True)
deaths.shape

(274, 84)

### Test

https://www.kaggle.com/skylord/covid19-tests-conducted-by-country

In [3]:
test = pd.read_csv('variable/Intervention/test/Tests_conducted_09April2020.csv')

In [5]:
test.head(2)

,Country or region,Tests,Positive,As of,Tests/ million,Positive/ thousands,Ref.,Source_1,Source_2
0,Albania,2989.0,400.0,8 Apr,1044.0,13.4,cite_note-86,https://shendetesia.gov.al/5-prill-2020-inform...,
1,Argentina,10793.0,1628.0,7 Apr,239.0,15.1,cite_note-87,https://www.argentina.gob.ar/sites/default/fil...,

In [6]:
test['As of'].unique()

array(['8 Apr', '7 Apr', '1 Apr', '9 Apr', '19 Mar', '2 Apr', '5 Apr',
       '6 Apr', nan, '20 Feb', '31 Mar', '25 Mar', '27 Mar', '4 Apr',
       '21 Mar', '3 Apr', '24 Mar'], dtype=object)

## Vaccine - clinical test
https://www.kaggle.com/panahi/covid-19-international-clinical-trials#ClinicalTrials.gov_COVID_19.csv

https://www.kaggle.com/zohrarezgui/coronavirus-clinical-trials-dataset

### Lockdown

https://www.kaggle.com/jcyzag/covid19-lockdown-dates-by-country

In [ ]:
 = pd.read_csv('variable/lockdown/.csv')