### Africa

In [202]:
import pandas as pd
import seaborn as sns
import matplotlib as plt

In [203]:
#Read train 
deaths = pd.read_csv('data/deaths.csv')
cases = pd.read_csv('data/cases.csv')
deaths.drop(['Province/State'], axis=True)
deaths.shape

(274, 84)

In [204]:
df = pd.read_csv('Global_variable_per_country+Intervention.csv')
df.shape

(274, 143)

### Ebola

https://www.kaggle.com/imdevskp/ebola-outbreak-20142016-complete-dataset

In [205]:
ebola = pd.read_csv('variable/Africa/ebola_2014_2016_clean.csv')
ebola = ebola[ebola.Date == '2016-03-23']
ebola = ebola[['Country','No. of confirmed deaths', 'No. of confirmed cases']]
ebola.rename(columns={'No. of confirmed deaths':'deaths_ebola',
                        'No. of confirmed cases':'cases_ebola'}, inplace=True)
ebola = ebola.drop([2482,2479], axis=0)

In [206]:
ebola

                       Country  deaths_ebola  cases_ebola
2473                    Guinea        2083.0       3351.0
2474                     Spain           0.0          1.0
2475              Sierra Leone        3589.0       8704.0
2476                   Senegal           0.0          1.0
2477                      Mali           NaN          7.0
2478            United Kingdom           NaN          1.0
2480                   Liberia           NaN       3151.0
2481                     Italy           NaN          1.0
2483                   Nigeria           7.0         19.0
2484  United States of America           1.0          4.0

In [207]:
ebola.loc[2480,['deaths_ebola']] = 3
ebola.loc[2484,['Country']] = 'US'

In [208]:
df = df.merge(ebola, how='left', left_on='Territory', right_on='Country')
df.drop(['country', 'Country'], axis=1, inplace=True)
df["deaths_ebola"] = df["deaths_ebola"].fillna(0)
df["cases_ebola"] = df["cases_ebola"].fillna(0)

In [209]:
df.shape

(274, 144)

## Looking at missing values

In [210]:
df.drop(['Alpha-2 code','Country_x','WEBNAME','reg','Country Name','Region'], axis=1, inplace=True)
df.shape

(274, 138)

In [211]:
df["Tests/ million"] = df["Tests/ million"].fillna(0)

In [216]:
percent_missing = df.isnull().sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'column_name': df.columns,
                                 'percent_missing': percent_missing})

We will supress all of this variables to predict in a 1st time.

In [217]:
missing_value_df[percent_missing!=0]

                                             column_name  percent_missing
Province/State                            Province/State        63.503650
Jan_Temp                                        Jan_Temp        13.868613
Feb_temp                                        Feb_temp        13.868613
Mar_temp                                        Mar_temp        13.868613
Apr_Temp                                        Apr_Temp        13.868613
May_temp                                        May_temp        13.868613
Jun_Temp                                        Jun_Temp        13.868613
July_Temp                                      July_Temp        13.868613
Aug_Temp                                        Aug_Temp        13.868613
Sept_temp                                      Sept_temp        13.868613
Oct_temp                                        Oct_temp        13.868613
Nov_Temp                                        Nov_Temp        13.868613
Dec_temp                                        Dec_temp        13.868613
Annual_temp                                  Annual_temp        13.868613
%+65                                                %+65         8.394161
15-64pop                                        15-64pop         8.394161
density                                          density         4.379562
sex                                                  sex         8.394161
IncomeGroup                                  IncomeGroup         1.824818
tourism                                          tourism         8.029197
World Rank                                    World Rank        12.408759
2019 Score                                    2019 Score        12.408759
Government Integrity                Government Integrity        10.583942
Gov't Spending                            Gov't Spending        11.313869
Fiscal Health                              Fiscal Health        11.313869
Investment Freedom                   Investment Freedom         10.948905
Tariff Rate (%)                          Tariff Rate (%)        11.678832
Income Tax Rate (%)                  Income Tax Rate (%)        10.948905
Corporate Tax Rate (%)            Corporate Tax Rate (%)        10.948905
Gov't Expenditure % of GDP   Gov't Expenditure % of GDP         11.678832
GDP (Billions, PPP)                  GDP (Billions, PPP)        10.583942
GDP Growth Rate (%)                  GDP Growth Rate (%)        10.948905
5 Year GDP Growth Rate (%)    5 Year GDP Growth Rate (%)        10.948905
GDP per Capita (PPP)                GDP per Capita (PPP)        10.948905
Unemployment (%)                        Unemployment (%)        11.313869
Inflation (%)                              Inflation (%)        11.313869
Public Debt (% of GDP)            Public Debt (% of GDP)        11.313869
o-im                                                o-im        38.686131
pop_obsesity                                pop_obsesity        13.503650
Male_obesity                                Male_obesity        13.503650
Female_obesity                            Female_obesity        13.503650
Positive                                        Positive        66.058394
Positive/ thousands                  Positive/ thousands        66.058394

In [218]:
df.IncomeGroup

0               Low income
1      Upper middle income
2      Upper middle income
3              High income
4      Lower middle income
5              High income
6      Upper middle income
7      Upper middle income
8              High income
9              High income
10             High income
11             High income
12             High income
13             High income
14             High income
15             High income
16             High income
17     Upper middle income
18             High income
19             High income
20     Lower middle income
21             High income
22     Upper middle income
23             High income
24              Low income
25     Lower middle income
26     Lower middle income
27     Upper middle income
28     Upper middle income
29             High income
              ...
244                    NaN
245            High income
246            High income
247    Upper middle income
248             Low income
249             Low income
250                    NaN
251             Low income
252                    NaN
253            High income
254             Low income
255    Lower middle income
256    Lower middle income
257    Lower middle income
258    Lower middle income
259    Upper middle income
260    Lower middle income
261    Lower middle income
262    Upper middle income
263            High income
264            High income
265    Upper middle income
266    Lower middle income
267    Lower middle income
268             Low income
269    Upper middle income
270    Upper middle income
271    Upper middle income
272    Lower middle income
273             Low income
Name: IncomeGroup, Length: 274, dtype: object

In [214]:
df["nb_beds"] = df["nb_beds"].fillna(0)

### less than 7% missing values

# We assume it's 0 if no records related to medecine in a country.
df["nb_beds"] = df["nb_beds"].fillna(0)
df["HepB3."] = df["HepB3."].fillna(0)
df["DTP3.c"] = df["DTP3.c"].fillna(0)
df["MCV2.c"] = df["MCV2.c"].fillna(0)
df["MCV1.c"] = df["MCV1.c"].fillna(0)
df["Pol3.c"] = df["Pol3.c"].fillna(0)

for lockdown_date and Type_lockdown we will put a category others for unknowm.

In [215]:
df["lockdown_date"] =  df["lockdown_date"].fillna('Unknown')
df["Type_lockdown"] =  df["Type_lockdown"].fillna('Unknown')

### Less than 1% missing values

In [172]:
na =missing_value_df[(percent_missing<6) & (percent_missing!=0 )].column_name

In [173]:
for var in na:
    print(na)
    df.fillna(df[var].mean(), inplace=True)

density            density
IncomeGroup    IncomeGroup
Name: column_name, dtype: object
density            density
IncomeGroup    IncomeGroup
Name: column_name, dtype: object

TypeError: can only concatenate str (not "float") to str

In [295]:
df.to_csv('Global_variable_per_country+Intervention+Africa.csv',index=False)