### Africa

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib as plt

In [2]:
#Read train 
deaths = pd.read_csv('data/deaths.csv')
cases = pd.read_csv('data/cases.csv')
deaths.drop(['Province/State'], axis=True)
deaths.shape

(274, 84)

In [36]:
df = pd.read_csv('Global_variable_per_country+Intervention.csv')

### Ebola

https://www.kaggle.com/imdevskp/ebola-outbreak-20142016-complete-dataset

In [37]:
ebola = pd.read_csv('variable/Africa/ebola_2014_2016_clean.csv')

In [38]:
ebola = ebola[['Country','No. of confirmed deaths', 'No. of confirmed cases']]
ebola.rename(columns={'Date':'lockdown_date',
                        'Type':'Type_lockdown'}, inplace=True)

In [39]:
df = df.merge(ebola, how='left', left_on='Territory', right_on='Country')
df.drop(['country', 'Country'], axis=1, inplace=True)

In [40]:
df

,Province/State,Country/Region_x,Territory,Population,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,...,Tests,Positive,As of,Tests/ million,Positive/ thousands,lockdown_date,Type_lockdown,nb_trial,No. of confirmed deaths,No. of confirmed cases
0,NaN,Afghanistan,Afghanistan,26023100.0,33.00000,65.000000,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,24/03/2020,Full,NaN,NaN,NaN
1,NaN,Albania,Albania,2895947.0,41.15330,20.168300,0,0,0,0,...,2989.0,400.0,8 Apr,1044.0,13.4,08/03/2020,Full,NaN,NaN,NaN
2,NaN,Algeria,Algeria,38700000.0,28.03390,1.659600,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,24/03/2020,Full,NaN,NaN,NaN
3,NaN,Andorra,Andorra,76965.0,42.50630,1.521800,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,16/03/2020,Full,NaN,NaN,NaN
4,NaN,Angola,Angola,24383301.0,-11.20270,17.873900,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,24/03/2020,Full,NaN,NaN,NaN
5,NaN,Antigua and Barbuda,Antigua and Barbuda,86295.0,17.06080,-61.796400,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
6,NaN,Argentina,Argentina,42669500.0,-38.41610,-63.616700,0,0,0,0,...,10793.0,1628.0,7 Apr,239.0,15.1,20/03/2020,Full,1.0,NaN,NaN
7,NaN,Armenia,Armenia,3009800.0,40.06910,45.038200,0,0,0,0,...,4666.0,822.0,7 Apr,1741.0,16.6,24/03/2020,Full,NaN,NaN,NaN
8,Australian Capital Territory,Australia,Australia,23696900.0,-35.47350,149.012400,0,0,0,0,...,319784.0,6024.0,8 Apr,12590.0,1.9,NaN,None,9.0,NaN,NaN
9,Australian Capital Territory,Australia,Australia,23696900.0,-35.47350,149.012400,0,0,0,0,...,319784.0,6024.0,8 Apr,12590.0,1.9,NaN,None,9.0,NaN,NaN
10,Australian Capital Territory,Australia,Australia,23696900.0,-35.47350,149.012400,0,0,0,0,...,319784.0,6024.0,8 Apr,12590.0,1.9,NaN,None,9.0,NaN,NaN
11,Australian Capital Territory,Australia,Australia,23696900.0,-35.47350,149.012400,0,0,0,0,...,319784.0,6024.0,8 Apr,12590.0,1.9,NaN,None,9.0,NaN,NaN
12,Australian Capital Territory,Australia,Australia,23696900.0,-35.47350,149.012400,0,0,0,0,...,319784.0,6024.0,8 Apr,12590.0,1.9,NaN,None,9.0,NaN,NaN
13,Australian Capital Territory,Australia,Australia,23696900.0,-35.47350,149.012400,0,0,0,0,...,319784.0,6024.0,8 Apr,12590.0,1.9,NaN,None,9.0,NaN,NaN
14,Australian Capital Territory,Australia,Australia,23696900.0,-35.47350,149.012400,0,0,0,0,...,319784.0,6024.0,8 Apr,12590.0,1.9,24/03/2020,Full,9.0,NaN,NaN
15,Australian Capital Territory,Australia,Australia,23696900.0,-35.47350,149.012400,0,0,0,0,...,319784.0,6024.0,8 Apr,12590.0,1.9,NaN,None,9.0,NaN,NaN
16,New South Wales,Australia,Australia,23696900.0,-33.86880,151.209300,0,0,0,0,...,319784.0,6024.0,8 Apr,12590.0,1.9,NaN,None,9.0,NaN,NaN
17,New South Wales,Australia,Australia,23696900.0,-33.86880,151.209300,0,0,0,0,...,319784.0,6024.0,8 Apr,12590.0,1.9,NaN,None,9.0,NaN,NaN
18,New South Wales,Australia,Australia,23696900.0,-33.86880,151.209300,0,0,0,0,...,319784.0,6024.0,8 Apr,12590.0,1.9,NaN,None,9.0,NaN,NaN
19,New South Wales,Australia,Australia,23696900.0,-33.86880,151.209300,0,0,0,0,...,319784.0,6024.0,8 Apr,12590.0,1.9,NaN,None,9.0,NaN,NaN
20,New South Wales,Australia,Australia,23696900.0,-33.86880,151.209300,0,0,0,0,...,319784.0,6024.0,8 Apr,12590.0,1.9,NaN,None,9.0,NaN,NaN
21,New South Wales,Australia,Australia,23696900.0,-33.86880,151.209300,0,0,0,0,...,319784.0,6024.0,8 Apr,12590.0,1.9,NaN,None,9.0,NaN,NaN
22,New South Wales,Australia,Australia,23696900.0,-33.86880,151.209300,0,0,0,0,...,319784.0,6024.0,8 Apr,12590.0,1.9,24/03/2020,Full,9.0,NaN,NaN
23,New South Wales,Australia,Australia,23696900.0,-33.86880,151.209300,0,0,0,0,...,319784.0,6024.0,8 Apr,12590.0,1.9,NaN,None,9.0,NaN,NaN
24,Northern Territory,Australia,Australia,23696900.0,-12.46340,130.845600,0,0,0,0,...,319784.0,6024.0,8 Apr,12590.0,1.9,NaN,None,9.0,NaN,NaN
25,Northern Territory,Australia,Australia,23696900.0,-12.46340,130.845600,0,0,0,0,...,319784.0,6024.0,8 Apr,12590.0,1.9,NaN,None,9.0,NaN,NaN
26,Northern Territory,Australia,Australia,23696900.0,-12.46340,130.845600,0,0,0,0,...,319784.0,6024.0,8 Apr,12590.0,1.9,NaN,None,9.0,NaN,NaN
27,Northern Territory,Australia,Australia,23696900.0,-12.46340,130.845600,0,0,0,0,...,319784.0,6024.0,8 Apr,12590.0,1.9,NaN,None,9.0,NaN,NaN
28,Northern Territory,Australia,Australia,23696900.0,-12.46340,130.845600,0,0,0,0,...,319784.0,6024.0,8 Apr,12590.0,1.9,NaN,None,9.0,NaN,NaN
29,Northern Territory,Australia,Australia,23696900.0,-12.46340,130.845600,0,0,0,0,...,319784.0,6024.0,8 Apr,12590.0,1.9,NaN,None,9.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5832,Saint Pierre and Miquelon,France,France,66078000.0,46.88520,-56.315900,0,0,0,0,...,224254.0,54627.0,2 Apr,3346.0,24.4,NaN,None,7.0,NaN,NaN
5833,Saint Pierre and Miquelon,France,France,66078000.0,46.88520,-56.315900,0,0,0,0,...,224254.0,54627.0,2 Apr,3346.0,24.4,27/03/2020,Partial,7.0,NaN,NaN
5834,Saint Pierre and Miquelon,France,France,66078000.0,46.88520,-56.315900,0,0,0,0,...,224254.0,54627.0,2 Apr,3346.0,24.4,NaN,None,7.0,NaN,NaN
5835,Saint Pierre and Miquelon,France,France,66078000.0,46.88520,-56.315900,0,0,0,0,...,224254.0,54627.0,2 Apr,3346.0,24.4,20/03/2020,Partial,7.0,NaN,NaN
5836,Saint Pierre and Miquelon,France,France,66078000.0,46.88520,-56.315900,0,0,0,0,...,224254.0,54627.0,2 Apr,3346.0,24.4,NaN,None,7.0,NaN,NaN
5837,Saint Pierre and Miquelon,France,France,66078000.0,46.88520,-56.315900,0,0,0,0,...,224254.0,54627.0,2 Apr,3346.0,24.4,NaN,None,7.0,NaN,NaN
5838,Saint Pierre and Miquelon,France,France,66078000.0,46.88520,-56.315900,0,0,0,0,...,224254.0,54627.0,2 Apr,3346.0,24.4,NaN,None,7.0,NaN,NaN
5839,Saint Pierre and Miquelon,France,France,66078000.0,46.88520,-56.315900,0,0,0,0,...,224254.0,54627.0,2 Apr,3346.0,24.4,NaN,None,7.0,NaN,NaN
5840,Saint Pierre and Miquelon,France,France,66078000.0,46.88520,-56.315900,0,0,0,0,...,224254.0,54627.0,2 Apr,3346.0,24.4,NaN,None,7.0,NaN,NaN
5841,Saint Pierre and Miquelon,France,France,66078000.0,46.88520,-56.315900,0,0,0,0,...,224254.0,54627.0,2 Apr,3346.0,24.4,16/03/2020,Full,7.0,NaN,NaN
5842,NaN,South Sudan,South Sudan,11384393.0,6.87700,31.307000,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5843,NaN,Sao Tome and Principe,Sao Tome and Principe,204327.0,0.18636,6.613081,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5844,0,Comoros (the),Comoros (the),813912.0,0.00000,0.000000,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5845,0,Kiribati,Kiribati,106461.0,0.00000,0.000000,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5846,0,Lesotho,Lesotho,2098000.0,0.00000,0.000000,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5847,0,Marshall Islands (the),Marshall Islands (the),53127.0,0.00000,0.000000,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5848,0,Micronesia (Federated States of),Micronesia (Federated States of),105544.0,0.00000,0.000000,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5849,0,Myanmar,Myanmar,53370000.0,0.00000,0.000000,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5850,0,Nauru,Nauru,10084.0,0.00000,0.000000,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5851,0,Palau,Palau,20901.0,0.00000,0.000000,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5852,0,Republic of Korea (the),Republic of Korea (the),51470000.0,0.00000,0.000000,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5853,0,Samoa,Samoa,187820.0,0.00000,0.000000,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5854,0,Solomon Islands,Solomon Islands,581344.0,0.00000,0.000000,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5855,0,Sudan (the),Sudan (the),40530000.0,0.00000,0.000000,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5856,0,Tajikistan,Tajikistan,8161000.0,0.00000,0.000000,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5857,0,Tonga,Tonga,103252.0,0.00000,0.000000,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5858,0,Turkmenistan,Turkmenistan,5838064.0,0.00000,0.000000,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5859,0,Tuvalu,Tuvalu,11323.0,0.00000,0.000000,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5860,0,Vanuatu,Vanuatu,264652.0,0.00000,0.000000,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5861,0,Yemen,Yemen,25956000.0,0.00000,0.000000,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN