### Africa

In [153]:
import pandas as pd
import seaborn as sns
import matplotlib as plt

In [154]:
#Read train 
deaths = pd.read_csv('data/deaths.csv')
cases = pd.read_csv('data/cases.csv')
deaths.drop(['Province/State'], axis=True)
deaths.shape

(274, 84)

In [155]:
df = pd.read_csv('Global_variable_per_country+Intervention.csv')

### Ebola

https://www.kaggle.com/imdevskp/ebola-outbreak-20142016-complete-dataset

In [156]:
ebola = pd.read_csv('variable/Africa/ebola_2014_2016_clean.csv')
ebola = ebola[ebola.Date == '2016-03-23']

In [157]:
ebola = ebola[['Country','No. of confirmed deaths', 'No. of confirmed cases']]
ebola.rename(columns={'No. of confirmed deaths':'deaths_ebola',
                        'No. of confirmed cases':'cases_ebola'}, inplace=True)

In [158]:
df = df.merge(ebola, how='left', left_on='Territory', right_on='Country')
df.drop(['country', 'Country'], axis=1, inplace=True)
df["deaths_ebola"] = df["deaths_ebola"].fillna(0)
df["cases_ebola"] = df["cases_ebola"].fillna(0)

## Looking at missing values

In [159]:
df.drop(['Alpha-2 code','Country_x'], axis=1, inplace=True)
df["Tests"] =  df["Tests"].fillna(0)
df.drop(['As of'], axis=1, inplace=True)
df["nb_trial"] =  df["nb_trial"].fillna(0)
df.drop(['Male_obesity_x','Male_obesity_y','Female_obesity_x','WEBNAME','Female_obesity_y','pop_obsesity_x','Country_x.1','Country_y'], axis=1, inplace=True)

In [160]:
#useless variables 
df.drop(['Region Rank','Tax Burden % of GDP','Trade Freedom','Financial Freedom','Property Rights','FDI Inflow (Millions)','Judical Effectiveness','Business Freedom','Tax Burden','Labor Freedom','Health_exp_pct_GDP_2016','Health_exp_public_pct_2016','Health_exp_out_of_pocket_pct_2016','Health_exp_per_capita_USD_2016','per_capita_exp_PPP_2016','External_health_exp_pct_2016','Population (Millions)','Monetary Freedom','Completeness_of_birth_reg_2009-18','Completeness_of_death_reg_2008-16'], axis=1, inplace=True)

In [161]:
percent_missing = df.isnull().sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'column_name': df.columns,
                                 'percent_missing': percent_missing})

In [162]:
df.head(5)

,Province/State,Country/Region_x,Territory,Population,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,...,Specialist_surgical_per_1000_2008-18,Tests,Positive,Tests/ million,Positive/ thousands,lockdown_date,Type_lockdown,nb_trial,deaths_ebola,cases_ebola
0,NaN,Afghanistan,Afghanistan,26023100.0,33.0000,65.0000,0,0,0,0,...,0.0,0.0,NaN,NaN,NaN,24/03/2020,Full,0.0,0.0,0.0
1,NaN,Albania,Albania,2895947.0,41.1533,20.1683,0,0,0,0,...,11.6,2989.0,400.0,1044.0,13.4,08/03/2020,Full,0.0,0.0,0.0
2,NaN,Algeria,Algeria,38700000.0,28.0339,1.6596,0,0,0,0,...,12.1,0.0,NaN,NaN,NaN,24/03/2020,Full,0.0,0.0,0.0
3,NaN,Andorra,Andorra,76965.0,42.5063,1.5218,0,0,0,0,...,83.1,0.0,NaN,NaN,NaN,16/03/2020,Full,0.0,0.0,0.0
4,NaN,Angola,Angola,24383301.0,-11.2027,17.8739,0,0,0,0,...,NaN,0.0,NaN,NaN,NaN,24/03/2020,Full,0.0,0.0,0.0

### More than 6% missing values

In [163]:
missing_value_df[percent_missing>7]

,column_name,percent_missing
ROTA,ROTA,91.487153
Hib3,Hib3,86.088762
PAB.,PAB.,97.560343
PCV3,PCV3,87.334545
BCG.,BCG.,11.653257
Physicians_per_1000_2009-18,Physicians_per_1000_2009-18,60.887620
Nurse_midwife_per_1000_2009-18,Nurse_midwife_per_1000_2009-18,60.887620
Specialist_surgical_per_1000_2008-18,Specialist_surgical_per_1000_2008-18,32.130807
Positive,Positive,88.684142
Tests/ million,Tests/ million,88.684142
Positive/ thousands,Positive/ thousands,88.684142

We will supress all of this variables to predict in a 1st time.

In [164]:
df.drop(['ROTA','Hib3','PAB.','PCV3','PCV3','Physicians_per_1000_2009-18','Positive/ thousands','Tests/ million','Positive','Specialist_surgical_per_1000_2008-18','Nurse_midwife_per_1000_2009-18'], axis=1, inplace=True)

### Between 1 and  6% missing values

In [165]:
missing_value_df[(percent_missing<7) & (percent_missing>1 )]

                                             column_name  percent_missing
Province/State                            Province/State         5.709836
Country Name                                Country Name         1.790812
Region                                            Region         1.790812
World Rank                                    World Rank         1.920581
2019 Score                                    2019 Score         1.920581
Government Integrity                Government Integrity         1.816766
Gov't Spending                            Gov't Spending         1.842720
Fiscal Health                              Fiscal Health         1.842720
Investment Freedom                   Investment Freedom          1.842720
Tariff Rate (%)                          Tariff Rate (%)         1.894628
Income Tax Rate (%)                  Income Tax Rate (%)         1.842720
Corporate Tax Rate (%)            Corporate Tax Rate (%)         1.842720
Gov't Expenditure % of GDP   Gov't Expenditure % of GDP          1.868674
GDP (Billions, PPP)                  GDP (Billions, PPP)         1.790812
GDP Growth Rate (%)                  GDP Growth Rate (%)         1.816766
5 Year GDP Growth Rate (%)    5 Year GDP Growth Rate (%)         1.816766
GDP per Capita (PPP)                GDP per Capita (PPP)         1.816766
Unemployment (%)                        Unemployment (%)         1.868674
Inflation (%)                              Inflation (%)         1.842720
Public Debt (% of GDP)            Public Debt (% of GDP)         1.842720
HepB                                                HepB         1.583182
DTP3                                                DTP3         1.271736
MCV2                                                MCV2         1.894628
MCV1                                                MCV1         1.271736
Pol3                                                Pol3         1.271736
pop_obsesity_y                            pop_obsesity_y         1.375552
pop_obsesity                                pop_obsesity         1.375552
Male_obesity                                Male_obesity         1.375552
Female_obesity                            Female_obesity         1.375552
nb_beds                                          nb_beds         2.102258
lockdown_date                              lockdown_date         6.436543
Type_lockdown                              Type_lockdown         1.842720

In [ ]:
sub2['income'] = sub2['income'].fillna((sub2['income'].mean()))

## Replacing missing values

In [25]:
Temp = ["Jan_Temp", "Feb_temp", "Mar_temp", "Apr_Temp", "May_temp", "Jun_Temp", "July_Temp", "Aug_Temp", "Sept_temp", "Oct_temp",
        "Nov_Temp", "Dec_temp", "Annual_temp"]

for T in Temp:
    median = df[T].median()
    df[T] = df[T].fillna(median, inplace=True)

In [26]:
missing_value_df[percent_missing!=0]


#wesh pourquoi Ã§a marche pas vÃ©nÃ¨re sa mere

,column_name,percent_missing
Province/State,Province/State,5.709836
Country_x,Country_x,1.090060
Alpha-2 code,Alpha-2 code,1.116013
Jan_Temp,Jan_Temp,0.986244
Feb_temp,Feb_temp,0.986244
Mar_temp,Mar_temp,0.986244
Apr_Temp,Apr_Temp,0.986244
May_temp,May_temp,0.986244
Jun_Temp,Jun_Temp,0.986244
July_Temp,July_Temp,0.986244
Aug_Temp,Aug_Temp,0.986244
Sept_temp,Sept_temp,0.986244
Oct_temp,Oct_temp,0.986244
Nov_Temp,Nov_Temp,0.986244
Dec_temp,Dec_temp,0.986244
Annual_temp,Annual_temp,0.986244
%+65,%+65,0.596937
15-64pop,15-64pop,0.596937
density,density,0.311446
sex,sex,0.596937
IncomeGroup,IncomeGroup,0.129769
tourism,tourism,0.622891
Country Name,Country Name,1.790812
WEBNAME,WEBNAME,1.790812
Region,Region,1.790812
World Rank,World Rank,1.920581
Region Rank,Region Rank,1.920581
2019 Score,2019 Score,1.920581
Property Rights,Property Rights,1.816766
Judical Effectiveness,Judical Effectiveness,1.816766
...,...,...
Male_obesity_x,Male_obesity_x,1.375552
Female_obesity_x,Female_obesity_x,1.375552
Country_x.1,Country_x.1,1.271736
pop_obsesity_y,pop_obsesity_y,1.375552
Male_obesity_y,Male_obesity_y,1.375552
Female_obesity_y,Female_obesity_y,1.375552
Country_y,Country_y,1.271736
pop_obsesity,pop_obsesity,1.375552
Male_obesity,Male_obesity,1.375552
Female_obesity,Female_obesity,1.375552
nb_beds,nb_beds,2.102258
Health_exp_pct_GDP_2016,Health_exp_pct_GDP_2016,60.913574
Health_exp_public_pct_2016,Health_exp_public_pct_2016,60.913574
Health_exp_out_of_pocket_pct_2016,Health_exp_out_of_pocket_pct_2016,60.913574
Health_exp_per_capita_USD_2016,Health_exp_per_capita_USD_2016,60.913574
per_capita_exp_PPP_2016,per_capita_exp_PPP_2016,60.913574
External_health_exp_pct_2016,External_health_exp_pct_2016,66.052427
Physicians_per_1000_2009-18,Physicians_per_1000_2009-18,60.887620
Nurse_midwife_per_1000_2009-18,Nurse_midwife_per_1000_2009-18,60.887620
Specialist_surgical_per_1000_2008-18,Specialist_surgical_per_1000_2008-18,32.130807
Completeness_of_birth_reg_2009-18,Completeness_of_birth_reg_2009-18,89.696341
Completeness_of_death_reg_2008-16,Completeness_of_death_reg_2008-16,62.263172
Tests,Tests,88.684142
Positive,Positive,88.684142
As of,As of,88.684142
Tests/ million,Tests/ million,88.684142
Positive/ thousands,Positive/ thousands,88.684142
lockdown_date,lockdown_date,6.436543
Type_lockdown,Type_lockdown,1.842720
nb_trial,nb_trial,4.438100