# Zindi - Challenge

https://zindi.africa/competitions/predict-the-global-spread-of-covid-19

April 9, 2020

In [354]:
import pandas as pd
import seaborn as sns
import matplotlib as plt 
import requests
import lxml.html as lh

## Import Data

In [355]:
#Read train 
deaths = pd.read_csv('data/deaths.csv')
cases = pd.read_csv('data/cases.csv')
deaths.drop(['Province/State'], axis=True)
deaths.shape

(274, 84)

#transpose data frame
deaths.T

In [356]:
deaths.head(2)

,Province/State,Country/Region,Territory,Population,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,...,3/30/20,3/31/20,4/1/20,4/2/20,4/3/20,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20
0,NaN,Afghanistan,Afghanistan,26023100.0,33.0000,65.0000,0,0,0,0,...,4,4,4,6,6,7,7,11,14,14
1,NaN,Albania,Albania,2895947.0,41.1533,20.1683,0,0,0,0,...,11,15,15,16,17,20,20,21,22,22

Compare the 1st 3 columns.

In [357]:
#no missing values
sum(deaths['Country/Region'].isnull() == False)

274

In [358]:
l1=deaths['Country/Region'].unique()
l2=deaths['Territory'].unique()
len([value for value in l1 if value in l2] )

169

In [359]:
len([x for x in l2 if x not in l1])
[x for x in l2 if x not in l1]

['Bahamas (the)',
 'Bolivia (Plurinational State of)',
 'Brunei Darussalam',
 'Central African Republic (the)',
 'Congo (the)',
 'Democratic Republic of the Congo (the)',
 "Côte d'Ivoire",
 'Faroe Islands',
 'Greenland',
 'Dominican Republic (the)',
 'French Guiana',
 'French Polynesia',
 'Guadeloupe',
 'Mayotte',
 'New Caledonia',
 'Reunion',
 'Saint Barthelemy',
 'St Martin',
 'Gambia (the)',
 'Iran (Islamic Republic of)',
 "Democratic People's Republic of Korea (the)",
 'Republic of Moldova (the)',
 'Aruba',
 'Curacao',
 'Netherlands (the)',
 'Niger (the)',
 'Philippines (the)',
 'Russian Federation (the)',
 'Taiwan',
 'United Republic of Tanzania (the)',
 'United Arab Emirates (the)',
 'Bermuda',
 'Cayman Islands',
 'United Kingdom of Great Britain and Northern Ireland (the)',
 'Montserrat',
 'United States of America (the)',
 'Venezuela (Bolivarian Republic of)',
 'Viet Nam',
 'Syrian Arab Republic (the)',
 "Lao People's Democratic Republic (the)"]

In [360]:
len([x for x in l1 if x not in l2])
[x for x in l1 if x not in l2]

['Bahamas',
 'Bolivia',
 'Brunei',
 'Central African Republic',
 'Congo (Brazzaville)',
 'Congo (Kinshasa)',
 "Cote d'Ivoire",
 'Dominican Republic',
 'Gambia',
 'Iran',
 'Korea, South',
 'Moldova',
 'Netherlands',
 'Niger',
 'Philippines',
 'Russia',
 'Sudan',
 'Taiwan*',
 'Tanzania',
 'United Arab Emirates',
 'United Kingdom',
 'US',
 'Venezuela',
 'Vietnam',
 'Syria',
 'Laos']

In [361]:
len(deaths['Territory'].unique())

209

In [362]:
len(deaths['Province/State'].unique())

84

In [363]:
deaths[deaths['Province/State'].isnull() == False]

,Province/State,Country/Region,Territory,Population,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,...,3/30/20,3/31/20,4/1/20,4/2/20,4/3/20,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20
8,Australian Capital Territory,Australia,Australia,2.369690e+07,-35.4735,149.0124,0,0,0,0,...,1,1,1,1,1,2,2,2,2,2
9,New South Wales,Australia,Australia,2.369690e+07,-33.8688,151.2093,0,0,0,0,...,8,8,9,10,12,12,16,18,21,21
10,Northern Territory,Australia,Australia,2.369690e+07,-12.4634,130.8456,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,Queensland,Australia,Australia,2.369690e+07,-28.0167,153.4000,0,0,0,0,...,2,2,2,4,4,4,4,4,4,4
12,South Australia,Australia,Australia,2.369690e+07,-34.9285,138.6007,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2
13,Tasmania,Australia,Australia,2.369690e+07,-41.4545,145.9707,0,0,0,0,...,0,1,2,2,2,2,2,2,2,3
14,Victoria,Australia,Australia,2.369690e+07,-37.8136,144.9631,0,0,0,0,...,4,4,4,5,7,8,8,10,11,12
15,Western Australia,Australia,Australia,2.369690e+07,-31.9505,115.8605,0,0,0,0,...,2,2,2,2,2,2,3,4,4,6
35,Alberta,Canada,Canada,3.554042e+07,53.9333,-116.5765,0,0,0,0,...,3,8,9,13,13,18,20,23,24,26
36,British Columbia,Canada,Canada,3.554042e+07,49.2827,-123.1207,0,0,0,0,...,19,24,24,31,31,38,38,38,39,43
37,Grand Princess,Canada,Canada,3.554042e+07,37.6489,-122.6655,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38,Manitoba,Canada,Canada,3.554042e+07,53.7609,-98.8139,0,0,0,0,...,1,1,1,1,2,2,2,2,3,3
39,New Brunswick,Canada,Canada,3.554042e+07,46.5653,-66.4619,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40,Newfoundland and Labrador,Canada,Canada,3.554042e+07,53.1355,-57.6604,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
41,Nova Scotia,Canada,Canada,3.554042e+07,44.6820,-63.7443,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
42,Ontario,Canada,Canada,3.554042e+07,51.2538,-85.3232,0,0,0,0,...,31,33,37,53,67,94,119,150,153,153
43,Prince Edward Island,Canada,Canada,3.554042e+07,46.5107,-63.4168,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
44,Quebec,Canada,Canada,3.554042e+07,52.9399,-73.5491,0,0,0,0,...,22,31,33,36,61,61,75,121,150,175
45,Saskatchewan,Canada,Canada,3.554042e+07,52.9399,-106.4509,0,0,0,0,...,2,2,3,3,3,3,3,3,3,3
49,Anhui,China,China,1.367110e+09,31.8257,117.2264,0,0,0,0,...,6,6,6,6,6,6,6,6,6,6
50,Beijing,China,China,1.367110e+09,40.1824,116.4142,0,0,0,0,...,8,8,8,8,8,8,8,8,8,8
51,Chongqing,China,China,1.367110e+09,30.0572,107.8740,0,0,0,0,...,6,6,6,6,6,6,6,6,6,6
52,Fujian,China,China,1.367110e+09,26.0789,117.9874,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
53,Gansu,China,China,1.367110e+09,37.8099,101.0583,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
54,Guangdong,China,China,1.367110e+09,23.3417,113.4244,0,0,0,0,...,8,8,8,8,8,8,8,8,8,8
55,Guangxi,China,China,1.367110e+09,23.8298,108.7881,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
56,Guizhou,China,China,1.367110e+09,26.8154,106.8748,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
57,Hainan,China,China,1.367110e+09,19.1959,109.7453,0,0,0,0,...,6,6,6,6,6,6,6,6,6,6
58,Hebei,China,China,1.367110e+09,39.5490,116.1306,0,1,1,1,...,6,6,6,6,6,6,6,6,6,6
59,Heilongjiang,China,China,1.367110e+09,47.8620,127.7615,0,0,1,1,...,13,13,13,13,13,13,13,13,13,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,Isle of Man,United Kingdom,United Kingdom of Great Britain and Northern I...,NaN,54.2361,-4.5481,0,0,0,0,...,0,0,1,1,1,1,1,1,1,1
220,Montserrat,United Kingdom,Montserrat,NaN,16.7425,-62.1874,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
229,Diamond Princess,Canada,Canada,3.554042e+07,0.0000,0.0000,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
236,Recovered,Canada,Canada,3.554042e+07,0.0000,0.0000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
242,Northwest Territories,Canada,Canada,3.554042e+07,64.8255,-124.8457,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
243,Yukon,Canada,Canada,3.554042e+07,64.2823,-135.0000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
244,Anguilla,United Kingdom,United Kingdom of Great Britain and Northern I...,NaN,18.2206,-63.0686,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
245,British Virgin Islands,United Kingdom,United Kingdom of Great Britain and Northern I...,NaN,18.4207,-64.6400,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
246,Turks and Caicos Islands,United Kingdom,United Kingdom of Great Britain and Northern I...,NaN,21.6940,-71.7979,0,0,0,0,...,0,0,0,0,0,0,1,1,1,1
250,"Bonaire, Sint Eustatius and Saba",Netherlands,Netherlands (the),NaN,12.1784,-68.2385,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
252,Falkland Islands (Malvinas),United Kingdom,United Kingdom of Great Britain and Northern I...,NaN,-51.7963,-59.5236,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
253,Saint Pierre and Miquelon,France,France,6.607800e+07,46.8852,-56.3159,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
256,0,Comoros (the),Comoros (the),NaN,0.0000,0.0000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
257,0,Kiribati,Kiribati,1.064610e+05,0.0000,0.0000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
258,0,Lesotho,Lesotho,2.098000e+06,0.0000,0.0000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
259,0,Marshall Islands (the),Marshall Islands (the),NaN,0.0000,0.0000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
260,0,Micronesia (Federated States of),Micronesia (Federated States of),NaN,0.0000,0.0000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
261,0,Myanmar,Myanmar,NaN,0.0000,0.0000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
262,0,Nauru,Nauru,1.008400e+04,0.0000,0.0000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
263,0,Palau,Palau,2.090100e+04,0.0000,0.0000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
264,0,Republic of Korea (the),Republic of Korea (the),NaN,0.0000,0.0000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
265,0,Samoa,Samoa,1.878200e+05,0.0000,0.0000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
266,0,Solomon Islands,Solomon Islands,5.813440e+05,0.0000,0.0000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
267,0,Sudan (the),Sudan (the),NaN,0.0000,0.0000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
268,0,Tajikistan,Tajikistan,8.161000e+06,0.0000,0.0000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
269,0,Tonga,Tonga,1.032520e+05,0.0000,0.0000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
270,0,Turkmenistan,Turkmenistan,5.838064e+06,0.0000,0.0000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
271,0,Tuvalu,Tuvalu,1.132300e+04,0.0000,0.0000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
272,0,Vanuatu,Vanuatu,2.646520e+05,0.0000,0.0000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
273,0,Yemen,Yemen,2.595600e+07,0.0000,0.0000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [364]:
len(deaths['Province/State'].unique())

84

We will use 'Country/Region'.

In [365]:
country = deaths['Country/Region']

In [366]:
deaths.head(2)

,Province/State,Country/Region,Territory,Population,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,...,3/30/20,3/31/20,4/1/20,4/2/20,4/3/20,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20
0,NaN,Afghanistan,Afghanistan,26023100.0,33.0000,65.0000,0,0,0,0,...,4,4,4,6,6,7,7,11,14,14
1,NaN,Albania,Albania,2895947.0,41.1533,20.1683,0,0,0,0,...,11,15,15,16,17,20,20,21,22,22

deaths.iloc[220:225,]

In [367]:
deaths[deaths.Population.isnull()]

,Province/State,Country/Region,Territory,Population,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,...,3/30/20,3/31/20,4/1/20,4/2/20,4/3/20,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20
3,NaN,Andorra,Andorra,NaN,42.506300,1.521800,0,0,0,0,...,8,12,14,15,16,17,18,21,22,23
18,NaN,Bahamas,Bahamas (the),NaN,25.034300,-77.396300,0,0,0,0,...,0,0,1,1,1,4,4,5,6,7
26,NaN,Bolivia,Bolivia (Plurinational State of),NaN,-16.290200,-63.588700,0,0,0,0,...,4,6,7,8,9,10,10,11,14,15
29,NaN,Brunei,Brunei Darussalam,NaN,4.535300,114.727700,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
32,NaN,Cabo Verde,Cabo Verde,NaN,16.538800,-23.041800,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
46,NaN,Central African Republic,Central African Republic (the),NaN,6.611100,20.939400,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
83,NaN,Congo (Brazzaville),Congo (the),NaN,-4.038300,21.758700,0,0,0,0,...,0,0,0,2,2,2,5,5,5,5
84,NaN,Congo (Kinshasa),Democratic Republic of the Congo (the),NaN,-4.038300,21.758700,0,0,0,0,...,8,8,9,13,13,18,18,18,18,18
86,NaN,Cote d'Ivoire,Côte d'Ivoire,NaN,7.540000,-5.547100,0,0,0,0,...,1,1,1,1,1,1,3,3,3,3
90,NaN,Czechia,Czechia,NaN,49.817500,15.473000,0,0,0,0,...,23,31,39,44,53,59,67,78,88,99
95,NaN,Dominican Republic,Dominican Republic (the),NaN,18.735700,-70.162700,0,0,0,0,...,42,51,57,60,68,68,82,86,98,108
102,NaN,Eswatini,Eswatini,NaN,-26.522500,31.465900,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
117,NaN,Gambia,Gambia (the),NaN,13.443200,-15.310100,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
131,NaN,Iran,Iran (Islamic Republic of),NaN,32.000000,53.000000,0,0,0,0,...,2757,2898,3036,3160,3294,3452,3603,3739,3872,3993
141,NaN,"Korea, South",Democratic People's Republic of Korea (the),NaN,36.000000,128.000000,0,0,0,0,...,158,162,165,169,174,177,183,186,192,200
157,NaN,Moldova,Republic of Moldova (the),NaN,47.411600,28.369900,0,0,0,0,...,2,4,5,6,8,12,15,19,22,27
160,NaN,Montenegro,Montenegro,NaN,42.500000,19.300000,0,0,0,0,...,1,2,2,2,2,2,2,2,2,2
164,Aruba,Netherlands,Aruba,NaN,12.518600,-70.035800,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
165,Curacao,Netherlands,Curacao,NaN,12.169600,-68.990000,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
166,Sint Maarten,Netherlands,Netherlands (the),NaN,18.042500,-63.054800,0,0,0,0,...,0,0,1,1,2,4,4,6,6,6
167,NaN,Netherlands,Netherlands (the),NaN,52.132600,5.291300,0,0,0,0,...,864,1039,1173,1339,1487,1651,1766,1867,2101,2248
170,NaN,Niger,Niger (the),NaN,17.607800,8.081700,0,0,0,0,...,3,3,5,5,5,8,10,10,11,11
172,NaN,North Macedonia,North Macedonia,NaN,41.608600,21.745300,0,0,0,0,...,7,9,11,11,12,17,18,23,26,29
180,NaN,Philippines,Philippines (the),NaN,13.000000,122.000000,0,0,0,0,...,78,88,96,107,136,144,152,163,177,182
185,NaN,Russia,Russian Federation (the),NaN,60.000000,90.000000,0,0,0,0,...,9,17,24,30,34,43,45,47,58,63
192,NaN,Serbia,Serbia,NaN,44.016500,21.005900,0,0,0,0,...,16,16,28,31,39,44,51,58,61,65
201,NaN,Sudan,South Sudan,NaN,12.862800,30.217600,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
205,NaN,Taiwan*,Taiwan,NaN,23.700000,121.000000,0,0,0,0,...,5,5,5,5,5,5,5,5,5,5
206,NaN,Tanzania,United Republic of Tanzania (the),NaN,-6.369000,34.888800,0,0,0,0,...,0,1,1,1,1,1,1,1,1,1
214,NaN,United Arab Emirates,United Arab Emirates (the),NaN,24.000000,54.000000,0,0,0,0,...,5,6,8,8,9,10,10,11,12,12
215,Bermuda,United Kingdom,Bermuda,NaN,32.307800,-64.750500,0,0,0,0,...,0,0,0,0,0,0,0,2,2,3
216,Cayman Islands,United Kingdom,Cayman Islands,NaN,19.313300,-81.254600,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
217,Channel Islands,United Kingdom,United Kingdom of Great Britain and Northern I...,NaN,49.372300,-2.364400,0,0,0,0,...,2,3,3,3,4,5,6,7,7,8
218,Gibraltar,United Kingdom,United Kingdom of Great Britain and Northern I...,NaN,36.140800,-5.353600,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
219,Isle of Man,United Kingdom,United Kingdom of Great Britain and Northern I...,NaN,54.236100,-4.548100,0,0,0,0,...,0,0,1,1,1,1,1,1,1,1
220,Montserrat,United Kingdom,Montserrat,NaN,16.742500,-62.187400,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
221,NaN,United Kingdom,United Kingdom of Great Britain and Northern I...,NaN,55.378100,-3.436000,0,0,0,0,...,1408,1789,2352,2921,3605,4313,4934,5373,6159,7097
223,NaN,US,United States of America (the),NaN,37.090200,-95.712900,0,0,0,0,...,2978,3873,4757,5926,7087,8407,9619,10783,12722,14695
225,NaN,Venezuela,Venezuela (Bolivarian Republic of),NaN,6.423800,-66.589700,0,0,0,0,...,3,3,3,5,7,7,7,7,7,9
226,NaN,Vietnam,Viet Nam,NaN,16.000000,108.000000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
233,NaN,Syria,Syrian Arab Republic (the),NaN,34.802075,38.996815,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
234,NaN,Timor-Leste,Timor-Leste,NaN,-8.874217,125.727539,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
237,NaN,Laos,Lao People's Democratic Republic (the),NaN,19.856270,102.495496,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
244,Anguilla,United Kingdom,United Kingdom of Great Britain and Northern I...,NaN,18.220600,-63.068600,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
245,British Virgin Islands,United Kingdom,United Kingdom of Great Britain and Northern I...,NaN,18.420700,-64.640000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
246,Turks and Caicos Islands,United Kingdom,United Kingdom of Great Britain and Northern I...,NaN,21.694000,-71.797900,0,0,0,0,...,0,0,0,0,0,0,1,1,1,1
250,"Bonaire, Sint Eustatius and Saba",Netherlands,Netherlands (the),NaN,12.178400,-68.238500,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
252,Falkland Islands (Malvinas),United Kingdom,United Kingdom of Great Britain and Northern I...,NaN,-51.796300,-59.523600,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
255,NaN,Sao Tome and Principe,Sao Tome and Principe,NaN,0.186360,6.613081,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
256,0,Comoros (the),Comoros (the),NaN,0.000000,0.000000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
259,0,Marshall Islands (the),Marshall Islands (the),NaN,0.000000,0.000000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
260,0,Micronesia (Federated States of),Micronesia (Federated States of),NaN,0.000000,0.000000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
261,0,Myanmar,Myanmar,NaN,0.000000,0.000000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
264,0,Republic of Korea (the),Republic of Korea (the),NaN,0.000000,0.000000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
267,0,Sudan (the),Sudan (the),NaN,0.000000,0.000000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [368]:
## Fill in NaN values for Population
index = deaths[deaths.Population.isnull()].index
# updated in 2017
deaths.at[index[0], 'Population'] = 76965 
deaths.at[index[1], 'Population'] = 395361
deaths.at[index[2], 'Population'] = 11.05e+06
deaths.at[index[3], 'Population'] = 428697
deaths.at[index[4], 'Population'] = 546388 
deaths.at[index[5], 'Population'] = 4.659e+06
deaths.at[index[6], 'Population'] = 5.261e+06
deaths.at[index[7], 'Population'] = 81.34e+06
deaths.at[index[8], 'Population'] = 24.29e+06 # Cote d'Ivoire
deaths.at[index[10], 'Population'] = 10.77e+06
deaths.at[index[11], 'Population'] = 1.367e+06
deaths.at[index[12], 'Population'] = 2.101e+06
deaths.at[index[13], 'Population'] = 81.16e+06
deaths.at[index[14], 'Population'] = 51.47e+06
deaths.at[index[15], 'Population'] = 3.55e+06
deaths.at[index[17], 'Population'] = 105264
deaths.at[index[18], 'Population'] = 161014
deaths.at[index[19], 'Population'] = 41109 
deaths.at[index[21], 'Population'] = 21.48e+06
deaths.at[index[23], 'Population'] = 104.9e+06
deaths.at[index[24], 'Population'] = 144.5e+06
deaths.at[index[25], 'Population'] = 7.022e+06
deaths.at[index[26], 'Population'] = 12.58e+06
deaths.at[index[28], 'Population'] = 57.31e+06
deaths.at[index[29], 'Population'] = 9.4e+06
deaths.at[index[30], 'Population'] = 65441
deaths.at[index[31], 'Population'] = 61559
deaths.at[index[32], 'Population'] = 170499
deaths.at[index[33], 'Population'] = 34571
deaths.at[index[34], 'Population'] = 84287
deaths.at[index[35], 'Population'] = 5900 #2008
deaths.at[index[38], 'Population'] = 31.98e+06
deaths.at[index[39], 'Population'] = 95.54e+06
deaths.at[index[40], 'Population'] = 18.27e+06
deaths.at[index[41], 'Population'] = 1.296e+06
deaths.at[index[42], 'Population'] = 6.858e+06
deaths.at[index[43], 'Population'] = 15094
deaths.at[index[44], 'Population'] = 31196
deaths.at[index[45], 'Population'] = 35446
deaths.at[index[46], 'Population'] = 25157
deaths.at[index[47], 'Population'] = 2840
deaths.at[index[48], 'Population'] = 204327
deaths.at[index[49], 'Population'] = 813912
deaths.at[index[50], 'Population'] = 53127
deaths.at[index[51], 'Population'] = 105544
deaths.at[index[52], 'Population'] = 53.37e+06
deaths.at[index[53], 'Population'] = 51.47e+06
deaths.at[index[54], 'Population'] = 40.53e+06

#2018 
deaths.at[index[27], 'Population'] = 23.78e+06
deaths.at[index[37], 'Population'] = 327.2e+06
#2019
deaths.at[index[9], 'Population'] = 10.65e+06
deaths.at[index[20], 'Population'] = 17.28e+06
deaths.at[index[22], 'Population'] = 2.077e+06
deaths.at[index[36], 'Population'] = 6.65e+06

#2020
deaths.at[index[16], 'Population'] = 631219

In [369]:
deaths[deaths['Country/Region'] =='Andorra']

,Province/State,Country/Region,Territory,Population,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,...,3/30/20,3/31/20,4/1/20,4/2/20,4/3/20,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20
3,NaN,Andorra,Andorra,76965.0,42.5063,1.5218,0,0,0,0,...,8,12,14,15,16,17,18,21,22,23

No more NaN values for population.

Add a code country column.

In [370]:
def web_scraping_data(link):
    #Create a handle, page, to handle the contents of the website
    page = requests.get(link)
    doc = lh.fromstring(page.content)
    tr_elements = doc.xpath('//tr')

    tr_elements = doc.xpath('//tr')
    col=[]
    i=0
    for t in tr_elements[0]:
        i+=1
        name=t.text_content()
        #print ('%d:"%s"'%(i,name))
        col.append((name,[]))

    for j in range(1,len(tr_elements)):
        T=tr_elements[j]
        i=0

        for t in T.iterchildren():
            data=t.text_content() 
            if i>0:
                try:
                    data=int(data)
                except:
                    pass

            col[i][1].append(data)
            i+=1

    Dict={title:column for (title,column) in col}
    df=pd.DataFrame(Dict)
    
    return df

In [371]:
code_country = web_scraping_data("https://www.iban.com/country-codes")
df = deaths.merge(code_country, how='left', left_on='Country/Region', right_on='Country')

In [372]:
df[df['Alpha-3 code'].isnull()]

,Province/State,Country/Region,Territory,Population,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,...,4/3/20,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20,Country,Alpha-2 code,Alpha-3 code,Numeric
18,NaN,Bahamas,Bahamas (the),395361.0,25.034300,-77.396300,0,0,0,0,...,1,4,4,5,6,7,NaN,NaN,NaN,NaN
26,NaN,Bolivia,Bolivia (Plurinational State of),11050000.0,-16.290200,-63.588700,0,0,0,0,...,9,10,10,11,14,15,NaN,NaN,NaN,NaN
29,NaN,Brunei,Brunei Darussalam,428697.0,4.535300,114.727700,0,0,0,0,...,1,1,1,1,1,1,NaN,NaN,NaN,NaN
46,NaN,Central African Republic,Central African Republic (the),4659000.0,6.611100,20.939400,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
83,NaN,Congo (Brazzaville),Congo (the),5261000.0,-4.038300,21.758700,0,0,0,0,...,2,2,5,5,5,5,NaN,NaN,NaN,NaN
84,NaN,Congo (Kinshasa),Democratic Republic of the Congo (the),81340000.0,-4.038300,21.758700,0,0,0,0,...,13,18,18,18,18,18,NaN,NaN,NaN,NaN
86,NaN,Cote d'Ivoire,Côte d'Ivoire,24290000.0,7.540000,-5.547100,0,0,0,0,...,1,1,3,3,3,3,NaN,NaN,NaN,NaN
95,NaN,Dominican Republic,Dominican Republic (the),10770000.0,18.735700,-70.162700,0,0,0,0,...,68,68,82,86,98,108,NaN,NaN,NaN,NaN
117,NaN,Gambia,Gambia (the),2101000.0,13.443200,-15.310100,0,0,0,0,...,1,1,1,1,1,1,NaN,NaN,NaN,NaN
131,NaN,Iran,Iran (Islamic Republic of),81160000.0,32.000000,53.000000,0,0,0,0,...,3294,3452,3603,3739,3872,3993,NaN,NaN,NaN,NaN
141,NaN,"Korea, South",Democratic People's Republic of Korea (the),51470000.0,36.000000,128.000000,0,0,0,0,...,174,177,183,186,192,200,NaN,NaN,NaN,NaN
157,NaN,Moldova,Republic of Moldova (the),3550000.0,47.411600,28.369900,0,0,0,0,...,8,12,15,19,22,27,NaN,NaN,NaN,NaN
164,Aruba,Netherlands,Aruba,105264.0,12.518600,-70.035800,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
165,Curacao,Netherlands,Curacao,161014.0,12.169600,-68.990000,0,0,0,0,...,1,1,1,1,1,1,NaN,NaN,NaN,NaN
166,Sint Maarten,Netherlands,Netherlands (the),41109.0,18.042500,-63.054800,0,0,0,0,...,2,4,4,6,6,6,NaN,NaN,NaN,NaN
167,NaN,Netherlands,Netherlands (the),17280000.0,52.132600,5.291300,0,0,0,0,...,1487,1651,1766,1867,2101,2248,NaN,NaN,NaN,NaN
170,NaN,Niger,Niger (the),21480000.0,17.607800,8.081700,0,0,0,0,...,5,8,10,10,11,11,NaN,NaN,NaN,NaN
172,NaN,North Macedonia,North Macedonia,2077000.0,41.608600,21.745300,0,0,0,0,...,12,17,18,23,26,29,NaN,NaN,NaN,NaN
180,NaN,Philippines,Philippines (the),104900000.0,13.000000,122.000000,0,0,0,0,...,136,144,152,163,177,182,NaN,NaN,NaN,NaN
185,NaN,Russia,Russian Federation (the),144500000.0,60.000000,90.000000,0,0,0,0,...,34,43,45,47,58,63,NaN,NaN,NaN,NaN
201,NaN,Sudan,South Sudan,12580000.0,12.862800,30.217600,0,0,0,0,...,2,2,2,2,2,2,NaN,NaN,NaN,NaN
205,NaN,Taiwan*,Taiwan,23780000.0,23.700000,121.000000,0,0,0,0,...,5,5,5,5,5,5,NaN,NaN,NaN,NaN
206,NaN,Tanzania,United Republic of Tanzania (the),57310000.0,-6.369000,34.888800,0,0,0,0,...,1,1,1,1,1,1,NaN,NaN,NaN,NaN
214,NaN,United Arab Emirates,United Arab Emirates (the),9400000.0,24.000000,54.000000,0,0,0,0,...,9,10,10,11,12,12,NaN,NaN,NaN,NaN
215,Bermuda,United Kingdom,Bermuda,65441.0,32.307800,-64.750500,0,0,0,0,...,0,0,0,2,2,3,NaN,NaN,NaN,NaN
216,Cayman Islands,United Kingdom,Cayman Islands,61559.0,19.313300,-81.254600,0,0,0,0,...,1,1,1,1,1,1,NaN,NaN,NaN,NaN
217,Channel Islands,United Kingdom,United Kingdom of Great Britain and Northern I...,170499.0,49.372300,-2.364400,0,0,0,0,...,4,5,6,7,7,8,NaN,NaN,NaN,NaN
218,Gibraltar,United Kingdom,United Kingdom of Great Britain and Northern I...,34571.0,36.140800,-5.353600,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
219,Isle of Man,United Kingdom,United Kingdom of Great Britain and Northern I...,84287.0,54.236100,-4.548100,0,0,0,0,...,1,1,1,1,1,1,NaN,NaN,NaN,NaN
220,Montserrat,United Kingdom,Montserrat,5900.0,16.742500,-62.187400,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
221,NaN,United Kingdom,United Kingdom of Great Britain and Northern I...,6650000.0,55.378100,-3.436000,0,0,0,0,...,3605,4313,4934,5373,6159,7097,NaN,NaN,NaN,NaN
223,NaN,US,United States of America (the),327200000.0,37.090200,-95.712900,0,0,0,0,...,7087,8407,9619,10783,12722,14695,NaN,NaN,NaN,NaN
225,NaN,Venezuela,Venezuela (Bolivarian Republic of),31980000.0,6.423800,-66.589700,0,0,0,0,...,7,7,7,7,7,9,NaN,NaN,NaN,NaN
226,NaN,Vietnam,Viet Nam,95540000.0,16.000000,108.000000,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
233,NaN,Syria,Syrian Arab Republic (the),18270000.0,34.802075,38.996815,0,0,0,0,...,2,2,2,2,2,2,NaN,NaN,NaN,NaN
237,NaN,Laos,Lao People's Democratic Republic (the),6858000.0,19.856270,102.495496,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
244,Anguilla,United Kingdom,United Kingdom of Great Britain and Northern I...,15094.0,18.220600,-63.068600,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
245,British Virgin Islands,United Kingdom,United Kingdom of Great Britain and Northern I...,31196.0,18.420700,-64.640000,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
246,Turks and Caicos Islands,United Kingdom,United Kingdom of Great Britain and Northern I...,35446.0,21.694000,-71.797900,0,0,0,0,...,0,0,1,1,1,1,NaN,NaN,NaN,NaN
250,"Bonaire, Sint Eustatius and Saba",Netherlands,Netherlands (the),25157.0,12.178400,-68.238500,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
252,Falkland Islands (Malvinas),United Kingdom,United Kingdom of Great Britain and Northern I...,2840.0,-51.796300,-59.523600,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
264,0,Republic of Korea (the),Republic of Korea (the),51470000.0,0.000000,0.000000,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN

In [373]:
## Fill in NaN values for alpha 3 code 
index = df[df['Alpha-3 code'].isnull()].index
variable = 'Alpha-3 code'
df.at[index[0], variable] = 'BHS'
df.at[index[1], variable] = 'BOL'
df.at[index[2], variable] = 'BRN'
df.at[index[3], variable] = 'CAF'
df.at[index[4], variable] = 'COG'
df.at[index[5], variable] = 'COD'
df.at[index[6], variable] = 'CIV'
df.at[index[7], variable] = 'DOM'
df.at[index[8], variable] = 'GMB'
df.at[index[9],variable] = 'IRN'
df.at[index[10],variable] = 'PRK'
df.at[index[11], variable] = 'MDA'
df.at[index[12], variable] = 'ABW'
df.at[index[13], variable] = 'CUW'
df.at[index[14],variable] = 'SXM'
df.at[index[15],variable] = 'NLD'
df.at[index[16],variable] = 'NER'
df.at[index[17], variable] = 'MKD'
df.at[index[18], variable] = 'PHL'
df.at[index[19], variable] = 'RUS'
df.at[index[20], variable] = 'SSD'
df.at[index[21], variable] = 'TWN'
df.at[index[22],variable] = 'TZA'
df.at[index[23],variable] = 'ARE'
df.at[index[24],variable] = 'BMU'
df.at[index[25],variable] = 'CYM'
df.at[index[26],variable] = 'GBR' #by default
df.at[index[27],variable] = 'GIB'
df.at[index[28],variable] = 'IMN'
df.at[index[29],variable] = 'MSR'
df.at[index[30],variable] = 'GBR'
df.at[index[31],variable] = 'USA'
df.at[index[32], variable] = 'VEN'
df.at[index[33],variable] = 'VNM'
df.at[index[34],variable] = 'SYR'
df.at[index[35], variable] = 'LAO'
df.at[index[36], variable] = 'AIA'
df.at[index[37], variable] = 'VGB'
df.at[index[38], variable] = 'TCA'
df.at[index[39],variable] = 'BES'
df.at[index[40], variable] = 'FLK'
df.at[index[41], variable] = 'KOR'

We will use alpha 3 code to join with other tables.

In [374]:
df.head(3)

,Province/State,Country/Region,Territory,Population,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,...,4/3/20,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20,Country,Alpha-2 code,Alpha-3 code,Numeric
0,NaN,Afghanistan,Afghanistan,26023100.0,33.0000,65.0000,0,0,0,0,...,6,7,7,11,14,14,Afghanistan,AF,AFG,4.0
1,NaN,Albania,Albania,2895947.0,41.1533,20.1683,0,0,0,0,...,17,20,20,21,22,22,Albania,AL,ALB,8.0
2,NaN,Algeria,Algeria,38700000.0,28.0339,1.6596,0,0,0,0,...,105,130,152,173,193,205,Algeria,DZ,DZA,12.0

## Add variables

### Temperature

Source 
- https://datacatalog.worldbank.org/dataset/climate-change-knowledge-portal-historical-data

In [375]:
temp = pd.read_csv('variable/temp.csv')

In [376]:
# temperature = pd.merge(left=temp, right=df, left_on='ISO_3DIGIT', right_on='Alpha-3 code')

df = df.merge(temp, how='left', left_on='Alpha-3 code', right_on='ISO_3DIGIT')

In [377]:
df.drop(['Numeric','ISO_3DIGIT'], axis =1, inplace=True)

In [379]:
sum(df.Annual_temp.isnull())

38

### Other epidemy

SARS-CoV

China Canada, Hong Kong Special Administrative Region of China, Chinese Taipei, Singapore, and Hanoi in Viet Nam.

Ebola 

The Democratic Republic of the Congo
Gabon
Guinea
Italy
Ivory Coast
Liberia
Mali
Nigeria
Philippines
Russia
Senegal
Sierra Leone
South Africa
South Sudan
Spain
Uganda
United Kingdom
United States
What causes Ebol

Mers - https://www.kaggle.com/imdevskp/mers-outbreak-dataset-20122019

Ebola - https://www.kaggle.com/imdevskp/ebola-outbreak-20142016-complete-dataset

Sars - https://www.kaggle.com/imdevskp/sars-outbreak-2003-complete-dataset

### Age / density / wealth /sex 

See relevant indicators

http://datatopics.worldbank.org/universal-health-coverage/coronavirus/

https://datacatalog.worldbank.org/search?search_api_views_fulltext_op=AND&f%5B0%5D=field_collection_field%3A2026&sort_by=field_wbddh_modified_date

https://data.worldbank.org/indicator/en.pop.dnst

In [380]:
def wordbankdata(variable, tab):
    data = pd.read_csv('variable/'+variable+'.csv')
    data = data[['Country Code', '2018']]
    tab = df.merge(data, how='left', left_on='Alpha-3 code', right_on='Country Code')
    tab[variable] = tab['2018']
    tab.drop(['2018', 'Country Code'], axis=True, inplace=True)
    return(tab)

variable = '%+65'

In [381]:
df = wordbankdata(variable, df)

In [382]:
variable = '15-64pop'
df = wordbankdata(variable, df)
df = wordbankdata('density', df)
df = wordbankdata( 'sex', df)

In [383]:
## not so many NaN cool !
print(sum(df['%+65'].isnull()))
print(sum(df['15-64pop'].isnull()))
print(sum(df['density'].isnull()))
print(sum(df['sex'].isnull()))

23
23
12
23

In [384]:
rich = pd.read_csv('variable/income.csv')
rich = rich[['Country Code', 'IncomeGroup']]
df = df.merge(rich, how='left', left_on='Alpha-3 code', right_on='Country Code')
df.drop(['Country Code'], axis=1, inplace=True)

In [387]:
print(sum(df['IncomeGroup'].isnull()))

5

## Tourism

In [393]:
tourism = pd.read_csv('variable/tourism.csv')

tourism.count() / len(tourism)
Lets take 2011.

In [394]:
tourism = tourism[['2011','Country Code']]
df = df.merge(tourism, how='left', left_on='Alpha-3 code', right_on='Country Code')
df.drop(['Country Code'], axis=1, inplace=True)

In [398]:
print(sum(df['2011'].isnull()))

22

## Economical factors

https://www.kaggle.com/lewisduncan93/the-economic-freedom-index

In [407]:
## Pb a regler !!!!
econ = pd.read_csv('variable/economic_freedom_index2019_data.csv')
econ.head()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf4 in position 1: invalid continuation byte

## Immunization factor

https://www.kaggle.com/lsind18/who-immunization-coverage

who-immunization-coverage folder

In [ ]:
econ = pd.read_csv('variable/economic_freedom_index2019_data.csv')
econ.head()

## Split by continent

In [23]:
continent = pd.read_csv('variable/locations.csv')

In [24]:
continent.head()

  countriesAndTerritories     location continent  population_year  population
0             Afghanistan  Afghanistan      Asia           2020.0  38928341.0
1                 Albania      Albania    Europe           2020.0   2877800.0
2                 Algeria      Algeria    Africa           2020.0  43851043.0
3                 Andorra      Andorra    Europe           2020.0     77265.0
4                  Angola       Angola    Africa           2020.0  32866268.0

In [25]:
continent.shape

(207, 5)

In [26]:
continent.drop(['population_year','population','countriesAndTerritories'], axis=1, inplace=True)

In [27]:
death2 = pd.merge(left=continent, right=death1, left_on='location', right_on='Country/Region')

In [28]:
death2.shape

(216, 102)

### Infected cases March 1 / March 15 / March 30

We take the number of cases every 15 days since the beginning of March.

In [ ]:
cases = pd.read_csv('data/cases.csv')

In [ ]:
cases[['2/15/20', '3/1/20', '3/30/20', '3/30/20', 'Country/Region']]

## Commorbidity / Risk Factors

### Obesity 

https://www.kaggle.com/arttua/who-obesity-by-country-2016

In [30]:
obesity = pd.read_csv('variable/obesity.csv')
obesity['Country'] = obesity['Unnamed: 0']
obesity.drop('Unnamed: 0', axis=1, inplace=True)

In [31]:
death3 = pd.merge(left=obesity, right=death2, left_on='Country', right_on='Country/Region')
death3.shape

(200, 106)

In [32]:
death2.shape

(216, 102)

### Pollution ?
https://www.kaggle.com/kweinmeister/pm25-global-air-pollution-20102017

## Medical care

### Hospital beds

https://www.kaggle.com/hamzael1/hospital-beds-by-country

In [33]:
beds = pd.read_csv('variable/beds.csv')

In [34]:
beds.count() / len(beds)

Country Name      1.000000
Country Code      1.000000
Indicator Name    1.000000
Indicator Code    1.000000
1960              0.613636
1961              0.007576
1962              0.007576
1963              0.007576
1964              0.007576
1965              0.030303
1966              0.018939
1967              0.018939
1968              0.018939
1969              0.018939
1970              0.662879
1971              0.030303
1972              0.034091
1973              0.034091
1974              0.041667
1975              0.340909
1976              0.056818
1977              0.041667
1978              0.045455
1979              0.045455
1980              0.492424
1981              0.280303
1982              0.113636
1983              0.098485
1984              0.125000
1985              0.378788
                    ...
1991              0.363636
1992              0.318182
1993              0.412879
1994              0.318182
1995              0.318182
1996              0.443182
1997              0.310606
1998              0.303030
1999              0.280303
2000              0.431818
2001              0.446970
2002              0.526515
2003              0.503788
2004              0.465909
2005              0.606061
2006              0.587121
2007              0.473485
2008              0.462121
2009              0.553030
2010              0.583333
2011              0.606061
2012              0.511364
2013              0.431818
2014              0.212121
2015              0.094697
2016              0.000000
2017              0.000000
2018              0.000000
2019              0.000000
Unnamed: 64       0.000000
Length: 65, dtype: float64

In [35]:
beds= beds[['Country Code', '2011']]

MERGE !

### Health Systems - WHO

In [36]:
hs = pd.read_csv('variable/Health_systems.csv')

In [37]:
hs.shape

(210, 14)

In [39]:
hs.head()

,Country_Region,Province_State,World_Bank_Name,Health_exp_pct_GDP_2016,Health_exp_public_pct_2016,Health_exp_out_of_pocket_pct_2016,Health_exp_per_capita_USD_2016,per_capita_exp_PPP_2016,External_health_exp_pct_2016,Physicians_per_1000_2009-18,Nurse_midwife_per_1000_2009-18,Specialist_surgical_per_1000_2008-18,Completeness_of_birth_reg_2009-18,Completeness_of_death_reg_2008-16
0,Afghanistan,NaN,Afghanistan,10.2,5.1,77.4,57.2,162.8,17.5,0.3,0.3,0.0,42.3,NaN
1,Albania,NaN,Albania,6.7,41.4,58.0,271.5,759.7,0.7,1.2,3.6,11.6,98.4,53.0
2,Algeria,NaN,Algeria,6.6,67.7,30.9,260.4,998.2,0.0,1.8,2.2,12.1,100.0,NaN
3,Andorra,NaN,Andorra,10.4,49.1,41.7,3834.7,4978.7,NaN,3.3,4.0,83.1,100.0,80.0
4,Angola,NaN,Angola,2.9,44.1,35.2,95.2,185.8,3.6,0.2,1.3,NaN,25.0,NaN

### Test

https://www.kaggle.com/skylord/covid19-tests-conducted-by-country

In [41]:
test = pd.read_csv('variable/test/Tests_conducted_09April2020.csv')

import all files in the folder test !

## Vaccine - clinical test
https://www.kaggle.com/panahi/covid-19-international-clinical-trials#ClinicalTrials.gov_COVID_19.csv

https://www.kaggle.com/zohrarezgui/coronavirus-clinical-trials-dataset

## Non-pharmaceutical interventions

### Lockdown

https://www.kaggle.com/jcyzag/covid19-lockdown-dates-by-country

lockdown folder !

In [ ]:
sum(deaths.Territory == 'France')

In [ ]:
deaths[deaths.Territory == 'France']